
/*@media(max-width:900px){*/

    /*section {*/
        /*width: 100vw;*/
    /*}*/

    /*.pagePanel {*/
        /*height: auto;*/
    /*}*/

    /*.section-container {*/
        /*height:100%;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
    /*}*/

    /*.section-content{*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*flex-basis: auto;*/
        /*align-self: auto;*/
    /*}*/

    /*.section-text{*/
        /*width: auto;*/
    /*}*/

    /*h2 {*/
        /*font-size: 3em;*/
    /*}*/
        /*!**/
         /**  MENU*/
         /**!*/
    /*.menu {*/
        /*background-color: rgba(0, 0, 0, 0.75);*/
        /*justify-content: center;*/
        /*width: 100vw;*/
        /*height: auto;*/
    /*}*/

    /*.menu-bar{*/
        /*margin-right: auto !important;*/
        /*height: auto !important;*/
        /*width: 40vw;*/
        /*flex-direction: column;*/
        /*display:none;*/
    /*}*/

    /*.menu-item a{*/
        /*color:white*/
    /*}*/

    /*.pbtns-logo{*/
        /*display:none*/
    /*}*/

    /*.pbtns-logo-bw{*/
        /*display:block;*/
        /*height: 8vh;*/
    /*}*/

    /*#hamburger-menu-icon{*/
        /*display:block;*/
        /*font-size: 25px;*/
        /*margin-top:1vh;*/
        /*color: white;*/
    /*}*/

    /*.bw-logo-container {*/
        /*display:block;*/
    /*}*/

    /*.narrow-container{*/
        /*!*width: 50vw;*!*/
        /*justify-content: flex-end;*/
        /*align-items: flex-start;*/
    /*}*/

    /*!**/
     /**  home*/
     /**!*/

    /*.homepageBounce {*/
        /*display: none;*/
    /*}*/

    /*!**/
        /*what*/
    /**!*/
    /*.offer-square {*/
        /*height: 30vw;*/
        /*width: 30vw;*/
    /*}*/

    /*.what-icon {*/
        /*height: 10vw;*/
        /*width: 10vw;*/
    /*}*/

    /*!**/
     /**  how*/
    /**!*/
    /*.process-container{*/
        /*width: 90vw;*/
        /*align-self: center;*/
        /*display: flex;*/
    /*}*/
    /*#processLastText {*/
        /*opacity: 0 !important;*/
        /*stroke-opacity: 0 !important;*/

    /*}*/
    /*#processLine6 {*/
        /*stroke: black !important;*/
    /*}*/
    /*#showFullProcess {*/
        /*display: none;*/
    /*}*/
    /*.cards {*/
        /*display: none*/
    /*}*/

    /*#howPage {*/
        /*background: black;*/
    /*}*/

    /*!**/
    /** Projects*/
    /**!*/
    /*.projects {*/
        /*flex-direction: column;*/
    /*}*/

    /*.projects-carousel-container{*/
        /*width: auto;*/
    /*}*/

    /*.carousel-slide {*/
        /*height: auto;*/
    /*}*/
    /*!**/
        /*Contact*/
    /**!*/
    /*#contactFooter {*/
        /*background: black;*/
    /*}*/
    /*#contactPage {*/
        /*background: black;*/
    /*}*/
    /*.contact-section {*/
        /*display: flex;*/
        /*flex-direction: column;*/
    /*}*/
    /*.hands {*/
        /*display: none;*/
    /*}*/
    /*.footer-contact-us, .footer-coffee {*/
        /*display: none*/
    /*}*/
    /*.footer-logo-rights{*/
        /*margin: auto;*/
        /*width: auto;*/
    /*}*/
    /*!**/
    /*Form*/
    /**!*/
    /*.contact-text-and-form-container {*/
        /*flex-direction: column;*/
    /*}*/
    /*.contact-form-container {*/
        /*flex-basis: auto;*/
        /*padding: 0px;*/
    /*}*/


    /*!**/
     /*OFFER*/
    /**!*/
    /*.offer-categories {*/
        /*flex-direction: column;*/
    /*}*/

    /*.offer-categories h3 {*/
        /*margin-bottom: 0px;*/
    /*}*/
/*}*/
