<!--<div class="hands"></div>-->
<div class="page-content contact process-section">
<div class="contact-section">
    <div class="text-button-container">
        <h1 class="challanges-text">UWIELBIAMY NOWE WYZWANIA</h1>
        <H4 class="great-text">Świetnie byłoby pracować z Tobą </br> nad Twoim nowym pomysłem</H4>
        <button type="button" class="btn btn-danger btn-lg contact-button" onclick="window.location.href='/contactform'" style="margin-top: 20px;">
            Porozmawiajmy o projekcie</button>
    </div>
    <div class="contact-footer">
            <div class="footer-cell footer-contact-us">
                <h5>Skontaktuj się z nami</h5>
                <div style="display: flex;flex-direction:column">
                    <div style="margin-bottom: 15px">
                        <span class="glyphicon glyphicon-phone" style="margin-right:15px"></span> 504 142 717
                    </div>
                    <div>
                        <a href="mailto:biuro@pushbuttons.pl">
                            <span class="glyphicon glyphicon-envelope" style="margin-right: 15px;"></span> info@pushbuttons.pl</a>
                    </div>

                </div>
            </div>
            <div class="footer-cell footer-coffee">
                <h5>Wpadnij do nas na kawę</h5>
                <div style="display: flex;flex-direction:column;padding-left: 30px;">
                                              <p> 44-100 Gliwice</p>  <p>ul. Bojkowska 37/107</p>
                    <span style="text-decoration: none;"> <img style="height: 1.5em" src="images/pin-in-the-map.png">
                        <a  href="https://www.google.pl/maps/dir/''/Pushbuttons+bojkowsk/data=!4m5!4m4!1m0!1m2!1m1!1s0x4711311757369f53:0x5d3cce12b514f8d4?sa=X&ved=0ahUKEwiAt8Cf1oPPAhXFXCwKHdIcDJsQ9RcIdzAL">
                            Sprawdź jak do nas dojechać!</a> </span>


                        <!--</a>-->
                    <!--</div>-->


                </div>
            </div>
            <!--<div class="footer-cell footer-social-media">-->

                <!--<h5 class="social-media-text">Social Media</h5>-->
            <!--</div>-->
            <div class="footer-cell footer-logo footer-logo-rights">
                <img class="pull-right" src="images/pushbuttons_logo_white.png">
            </div>
    </div>
    <div id="credits">
        Icon made by Freepik from www.flaticon.com
    </div>
</div>
</div>