<title>Pushbuttons.pl | Kontakt</title>
<div id="contactContainer">
    <div id="contactSubpage" class="page">
        <div class="contact-form  page-content">

            <div class="contact-text-and-form-container">
                <div class="section-text">
                    <h1>kontakt</h1>
                    <p>
                        Podoba Ci się jak pracujemy? Popracujmy więc razem nad Twoim projektem.
                        <!--Wypełnij formularz, a my skontaktujemy się z Tobą w ciągu maksymalnie 24 godzin i rozwiejemy wszelkie Twoje wątpliwości.-->
                    </p>
                    <p>
                        Możesz też do nas zadzwonić lub przyjechać i porozmawiać przy pysznej kawie :)
                    </p>
                </div>
                <div class="contact-form-container">
                    <form>
                        <div class="form-group">
                            <label for="talkAboutSelect">Porozmawiajmy o:</label>
                            <select  class="selectpicker form-control" id="talkAboutSelect">
                                <option>Projekcie</option>
                                <option>Badaniach</option>
                                <option>Konsultacjach</option>
                                <option>Programowaniu</option>
                                <option>Jeszcze nie wiem...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="messageInput">Napisz do nas o swoim pomyśle:</label>
                            <textarea type="text" class="form-control" style="height: 20vh;" id="messageInput" placeholder="..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="nameInput">Imię/Nazwa firmy</label>
                            <input type="text" class="form-control" id="nameInput" placeholder="..." onfocus="this.placeholder = ''" onblur="this.placeholder = '...'">
                        </div>
                        <div class="form-group">
                            <label for="emailInput">E-mail</label>
                            <input type="text" class="form-control"  id="emailInput" placeholder="mail@example.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'mail@example.com'">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumberInput">Numer telefonu</label>
                            <input type="text" class="form-control" id="phoneNumberInput" placeholder="000 - 000 - 000" onfocus="this.placeholder = ''" onblur="this.placeholder = '000 - 000 - 000'">
                        </div>
                        <button type="button" id="submitFormButton" class="btn btn-md menu-project-button pull-right">Wyślij wiadomość</button>
                    </form>
                    <!--<div style="margin-bottom: 15px">-->
                        <!--<span class="glyphicon glyphicon-phone" style="margin-right:15px"></span> 504 142 717-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<a href="mailto:biuro@pushbuttons.pl">-->
                            <!--<span class="glyphicon glyphicon-envelope" style="margin-right: 15px;"></span> info@pushbuttons.pl</a>-->
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>
    <div id="contactFooter" class="page"></div>
</div>
