
<!--<div class="buttons">-->

<!--</div>-->
<h1 style="visibility: hidden;font-size:0px;">PushButtons.pl | For the best UX</h1>
<canvas id="snow" class="snow"></canvas>
<div class="page-content">
<div class="typed-text-container">
    <div id="main" class="typedText">
    </div>
    <div id="subText" class="typedSubtext">
    </div>
    <div style="align-self: center; padding-top:30vh;" class="homepageBounce bounce"></div>
</div>




</div>
