<div id="pinContainer">
    <div class="scrollContainer">
        <section class="pagePanel page blue" id="home">
            <div id="homePage" class="page"></div>
        </section>
        <section class="pagePanel white what-page" id="what">
            <div id="whatPage" class="page"></div>
        </section>
        <section class="pagePanel how-page" id="how">
            <div id="howPage" class="page"></div>
        </section>
        <section class="pagePanel white projects-page" id="projects">
            <div id="projectsPage" class="page"></div>
        </section>
        <section class="blue pagePanel contact-page" id="contact">
            <div id="contactPage" class="page"></div>
        </section>
    </div>

</div>