<div class="cards"></div>
<div class="page-content">

    <div class="section-container">
        <div class="section-text">
            <h1 style="color:white">jak pracujemy</h1>
            <div class="how-text-content">
                <p>W Push Buttons kochamy przemyślane rozwiązania i dobry design. Rozumiemy użytkowników i
                    technologię. W swojej pracy łączymy user experience ze zrozumieniem i znajomością zagadnień
                    technicznych. Potrafimy słuchać, zrozumieć i zaproponować najlepsze rozwiązanie, które z pasją
                    wdrożymy w życie.</div>
        </div>

        <div class="process-container">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:cc="http://creativecommons.org/ns#"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                    xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    id="svg2"
                    viewBox="0 0 100 110"
                    height="786"
                    width="1000">
                <defs
                        id="defs4" />
                <metadata
                        id="metadata7">
                    <rdf:RDF>
                        <cc:Work
                                rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type
                                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title></dc:title>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g
                        id="g4910"
                        transform="matrix(0.13186931,0,0,0.13718403,-14.15863,-49.987335)"
                        style="fill:none;fill-opacity:0.67843139;stroke:rgba(8, 8, 8, 0.69);stroke-opacity:0.67843139">
                    <path
                            style="fill:none;fill-opacity:0.67843139;fill-rule:evenodd;stroke:#adadad;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.67843139"
                            d="m 200,464.64726 210,0"
                            id="path4912"
                            class="hoverable" />
                    <path
                            style="fill:none;fill-opacity:0.67843139;fill-rule:evenodd;stroke:#adadad;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.67843139"
                            d="m 550,466.36216 210,0"
                            id="path4914"
                            class="hoverable" />
                    <path
                            style="fill:none;fill-opacity:0.67843139;fill-rule:evenodd;stroke:#adadad;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.67843139"
                            d="m 410,769.36196 -210,0"
                            id="path4916"
                            class="hoverable" />
                    <path
                            style="fill:none;fill-opacity:0.67843139;fill-rule:evenodd;stroke:#adadad;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.67843139"
                            d="m 760,769.36196 -210,0"
                            id="path4918"
                            class="hoverable" />
                    <path
                            style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:none;fill-opacity:0.67843139;fill-rule:evenodd;stroke:#adadad;stroke-width:4.47321177;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                            d="m 903.49485,463.32094 13.13559,0 c 21.96243,0 39.64337,22.51143 39.64337,50.47406 l 0,0 0,205.64777 c 0,27.96263 -17.68094,50.47406 -39.64337,50.47406 l -13.13559,0"
                            id="path4920"
                            class="hoverable" />
                    <g
                            id="g4922"
                            class="hoverable"
                            style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                        <g
                                id="g4924"
                                transform="matrix(0.21276596,0,0,0.21276596,79.091068,421.14939)"
                                style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                            <path
                                    id="path4926"
                                    d="m 462.5,22.5 -455,0 C 3.357,22.5 0,25.858 0,30 l 0,410 c 0,4.142 3.357,7.5 7.5,7.5 l 455,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-80 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 -4.143,0 -7.5,3.358 -7.5,7.5 l 0,72.5 -440,0 0,-335 440,0 0,232.5 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-300 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 z m -447.5,15 277.5,0 0,45 -277.5,0 0,-45 z m 292.5,45 0,-45 147.5,0 0,45 -147.5,0 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4928"
                                    d="m 381.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4930"
                                    d="m 340.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4932"
                                    d="m 422.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4934"
                                    d="m 269.745,328.458 c 0,1.989 0.79,3.897 2.196,5.303 l 58.543,58.542 c 1.407,1.407 3.314,2.197 5.304,2.197 1.99,0 3.896,-0.79 5.304,-2.197 l 21.213,-21.213 c 2.929,-2.929 2.929,-7.678 0,-10.606 l -58.542,-58.542 c -2.929,-2.929 -7.677,-2.929 -10.607,0 l -5.303,5.303 -10.831,-10.831 c 32.824,-38.264 31.15,-96.129 -5.079,-132.358 -18.416,-18.416 -42.9,-28.557 -68.943,-28.557 -26.043,0 -50.527,10.142 -68.943,28.557 -38.015,38.015 -38.015,99.871 0,137.886 18.416,18.416 42.9,28.557 68.943,28.557 23.527,0 45.78,-8.279 63.438,-23.455 l 10.807,10.808 -5.303,5.303 c -1.407,1.407 -2.197,3.314 -2.197,5.303 z M 144.663,291.335 c -32.167,-32.167 -32.167,-84.506 0,-116.673 15.582,-15.582 36.3,-24.164 58.336,-24.164 22.036,0 42.754,8.582 58.336,24.164 32.167,32.167 32.167,84.506 0,116.673 -15.582,15.582 -36.3,24.164 -58.336,24.164 -22.036,0 -42.754,-8.582 -58.336,-24.164 z m 201.732,74.453 -10.606,10.607 -47.937,-47.936 5.301,-5.301 c 0.005,-0.005 5.306,-5.306 5.306,-5.306 l 47.936,47.936 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4936"
                                    d="m 250.729,185.27 c -12.75,-12.749 -29.7,-19.771 -47.73,-19.771 -18.03,0 -34.98,7.021 -47.73,19.771 -26.317,26.318 -26.317,69.141 0,95.459 12.75,12.749 29.7,19.771 47.73,19.771 18.03,0 34.98,-7.021 47.73,-19.771 26.318,-26.318 26.318,-69.142 0,-95.459 z m -10.607,84.852 c -9.916,9.916 -23.1,15.377 -37.123,15.377 -14.023,0 -27.207,-5.461 -37.123,-15.377 -20.47,-20.47 -20.47,-53.776 0,-74.246 9.916,-9.916 23.1,-15.377 37.123,-15.377 14.023,0 27.207,5.461 37.123,15.377 20.47,20.47 20.47,53.776 0,74.246 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                        </g>
                        <text
         id="text4938"
         y="549.34454"
         x="39.860424"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:23.47328186px;line-height:125%;font-family:'Crete Round';-inkscape-font-specification:'sans-serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.67843137"
         xml:space="preserve"><tspan
           y="549.34454"
           x="39.860424"
           id="tspan4940"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:23.47328186px;line-height:125%;font-family:'Crete Round';-inkscape-font-specification:'sans-serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-opacity:0.67843137">Badanie potrzeb</tspan></text>
                    </g>
                    <g
                            id="g4942"
                            class="hoverable"
                            style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                        <g
                                id="g4944"
                                transform="matrix(0.2127655,0,0,0.21276578,424.17288,419.74373)"
                                style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                            <path
                                    id="path4946"
                                    d="m 452.159,16.364 -434.318,0 C 8.003,16.364 0,24.367 0,34.205 L 0,363.41 c 0,9.837 8.003,17.841 17.841,17.841 l 163.807,0 0,57.386 -70.739,0 c -4.142,0 -7.5,3.358 -7.5,7.5 0,4.142 3.358,7.5 7.5,7.5 l 248.182,0 c 4.143,0 7.5,-3.358 7.5,-7.5 0,-4.142 -3.357,-7.5 -7.5,-7.5 l -70.738,0 0,-57.387 163.807,0 c 9.838,0 17.841,-8.003 17.841,-17.841 l 0,-329.204 C 470,24.367 461.997,16.364 452.159,16.364 Z m -178.806,422.272 -76.705,0 0,-57.386 76.705,0 0,57.386 z M 455,363.409 c 0,1.54 -1.301,2.841 -2.841,2.841 l -434.318,0 C 16.301,366.25 15,364.949 15,363.409 L 15,34.205 c 0,-1.54 1.301,-2.841 2.841,-2.841 l 434.318,0 c 1.54,0 2.841,1.301 2.841,2.841 l 0,329.204 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4948"
                                    d="m 431.478,305.227 -392.955,0 c -4.142,0 -7.5,3.358 -7.5,7.5 0,4.142 3.358,7.5 7.5,7.5 l 392.955,0 c 4.143,0 7.5,-3.358 7.5,-7.5 0,-4.142 -3.358,-7.5 -7.5,-7.5 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4950"
                                    d="m 110,280.227 40,0 c 4.142,0 7.5,-3.358 7.5,-7.5 l 0,-108.808 c 0,-4.142 -3.358,-7.5 -7.5,-7.5 l -40,0 c -4.142,0 -7.5,3.358 -7.5,7.5 l 0,108.808 c 0,4.142 3.358,7.5 7.5,7.5 z m 7.5,-108.808 25,0 0,93.808 -25,0 0,-93.808 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4952"
                                    d="m 180,280.227 40,0 c 4.142,0 7.5,-3.358 7.5,-7.5 l 0,-144.291 c 0,-4.142 -3.358,-7.5 -7.5,-7.5 l -40,0 c -4.142,0 -7.5,3.358 -7.5,7.5 l 0,144.291 c 0,4.142 3.358,7.5 7.5,7.5 z m 7.5,-144.291 25,0 0,129.291 -25,0 0,-129.291 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4954"
                                    d="m 250,280.227 40,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-177.841 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 l -40,0 c -4.143,0 -7.5,3.358 -7.5,7.5 l 0,177.841 c 0,4.142 3.357,7.5 7.5,7.5 z m 7.5,-177.841 25,0 0,162.841 -25,0 0,-162.841 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4956"
                                    d="m 320,280.227 40,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-74.291 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 l -40,0 c -4.143,0 -7.5,3.358 -7.5,7.5 l 0,74.291 c 0,4.142 3.357,7.5 7.5,7.5 z m 7.5,-74.291 25,0 0,59.291 -25,0 0,-59.291 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                        </g>
                        <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.67843139"
         x="378.18741"
         y="549.34454"
         id="text4958"><tspan
           id="tspan4960"
           x="378.18741"
           y="549.34454"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">Analiza i strategia</tspan></text>
                    </g>
                    <g
                            id="g4962"
                            class="hoverable"
                            style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                        <g
                                style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                id="g4964"
                                transform="matrix(0.21276596,0,0,0.21276596,786.38403,417.12888)">
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path4966"
                                    d="m 462.5,22.5 -455,0 C 3.358,22.5 0,25.858 0,30 l 0,410 c 0,4.142 3.358,7.5 7.5,7.5 l 455,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-80 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 -4.143,0 -7.5,3.358 -7.5,7.5 l 0,72.5 -440,0 0,-335 440,0 0,232.5 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-300 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 z m -447.5,15 277.5,0 0,45 -277.5,0 0,-45 z m 292.5,45 0,-45 147.5,0 0,45 -147.5,0 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path4968"
                                    d="m 381.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path4970"
                                    d="m 340.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path4972"
                                    d="m 422.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path4974"
                                    d="m 151.351,147.764 60.392,60.392 c 2.929,2.929 7.678,2.929 10.606,0 2.929,-2.929 2.929,-7.678 0,-10.606 l -65.677,-65.677 c -2.922,-2.922 -7.657,-2.93 -10.588,-0.018 l -44.268,43.969 c -1.415,1.405 -2.211,3.315 -2.215,5.309 -0.004,1.994 0.787,3.906 2.197,5.316 l 29.009,29.009 c 0.01,0.01 36.819,36.819 36.819,36.819 1.464,1.464 3.384,2.197 5.303,2.197 1.919,0 3.839,-0.732 5.303,-2.197 2.929,-2.929 2.929,-7.678 0,-10.606 l -2.497,-2.497 17.163,-17.163 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.929,-2.929 -7.678,-2.929 -10.606,0 l -17.163,17.163 -18.407,-18.407 17.163,-17.163 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.929,-2.929 -7.678,-2.929 -10.606,0 l -17.163,17.163 -18.389,-18.389 33.624,-33.402 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path4976"
                                    d="m 255.499,340.15 c 0.001,0.001 57.978,57.978 57.978,57.978 1.407,1.407 3.314,2.197 5.304,2.197 1.99,0 3.896,-0.79 5.304,-2.197 l 44.118,-44.119 c 2.929,-2.929 2.929,-7.678 0,-10.606 l -65.752,-65.752 c -2.93,-2.929 -7.678,-2.929 -10.607,0 -2.929,2.929 -2.929,7.678 0,10.606 l 60.449,60.449 -33.512,33.512 -18.382,-18.382 17.163,-17.164 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.93,-2.929 -7.678,-2.929 -10.607,0 l -17.163,17.163 -18.382,-18.382 17.164,-17.163 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.929,-2.929 -7.677,-2.929 -10.607,0 l -17.163,17.163 -2.472,-2.472 c -2.93,-2.929 -7.678,-2.929 -10.607,0 -2.929,2.929 -2.929,7.678 0,10.606 l 7.774,7.775 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path4978"
                                    d="m 107.66,399.842 c 0.992,0 1.994,-0.197 2.943,-0.603 l 65.622,-28.023 c 0.029,-0.013 0.133,-0.057 0.133,-0.057 0.064,-0.027 0.125,-0.062 0.188,-0.091 0.142,-0.065 0.284,-0.13 0.422,-0.205 0.082,-0.044 0.161,-0.095 0.241,-0.143 0.126,-0.074 0.253,-0.146 0.376,-0.229 0.104,-0.07 0.202,-0.148 0.303,-0.222 0.093,-0.07 0.189,-0.135 0.279,-0.209 0.19,-0.156 0.374,-0.321 0.548,-0.496 L 340.774,207.506 c 10e-4,-0.001 19.082,-19.082 19.082,-19.082 6.439,-6.44 9.986,-15.014 9.986,-24.141 0.001,-9.127 -3.546,-17.701 -9.986,-24.141 -6.44,-6.44 -15.014,-9.987 -24.141,-9.987 -9.128,0 -17.701,3.547 -24.142,9.987 l -19.075,19.076 c -0.011,0.011 -162.064,162.064 -162.064,162.064 -0.175,0.174 -0.339,0.358 -0.495,0.548 -0.076,0.093 -0.143,0.191 -0.214,0.286 -0.073,0.098 -0.149,0.193 -0.217,0.295 -0.084,0.126 -0.159,0.256 -0.235,0.386 -0.045,0.077 -0.094,0.152 -0.136,0.231 -0.076,0.141 -0.143,0.286 -0.209,0.431 -0.028,0.061 -0.061,0.119 -0.088,0.181 l -0.043,0.1 c -0.015,0.034 -28.037,65.655 -28.037,65.655 -1.203,2.817 -0.572,6.083 1.594,8.249 1.436,1.437 3.354,2.198 5.306,2.198 z M 297.796,175.136 324.864,202.204 173.412,353.656 146.344,326.588 297.796,175.136 Z m 24.385,-24.385 c 3.606,-3.607 8.413,-5.594 13.534,-5.594 5.12,0 9.927,1.986 13.534,5.594 3.606,3.606 5.593,8.413 5.593,13.533 0,5.121 -1.986,9.927 -5.594,13.535 l -13.777,13.777 -27.068,-27.068 13.778,-13.777 z m -183.903,188.984 21.987,21.987 -38.374,16.387 16.387,-38.374 z" />
                        </g>
                        <text
         id="text4980"
         y="548.96216"
         x="758.81439"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.67843137"
         xml:space="preserve"><tspan
           y="548.96216"
           x="758.81439"
           id="tspan4982"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-opacity:0.67843137">Projektowanie</tspan></text>
                    </g>
                    <g
                            id="g4986"
                            class="hoverable"
                            style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                        <g
                                id="g4988"
                                transform="matrix(0.21656365,0,0,0.21670444,785.53121,714.58995)"
                                style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                            <path
                                    id="path4990"
                                    d="M 84.716,207.572 60.694,207.5 c -0.609,0 -1.104,-0.496 -1.104,-1.106 l 0,-119.638 c 0,-2.841 -1.605,-5.438 -4.146,-6.708 L 28.209,66.43 55.444,52.813 c 2.54,-1.27 4.146,-3.867 4.146,-6.708 l 0,-30 c 0,-0.609 0.495,-1.104 1.104,-1.104 l 331.749,0 c 0.609,0 1.104,0.496 1.104,1.104 l 0,168.967 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-168.968 C 408.547,7.224 401.322,0 392.443,0 L 60.694,0 C 51.814,0 44.59,7.225 44.59,16.104 l 0,25.365 -36.506,18.253 c -2.54,1.27 -4.146,3.867 -4.146,6.708 0,2.841 1.604,5.438 4.146,6.708 l 36.506,18.253 0,115.003 c 0,8.881 7.225,16.106 16.082,16.106 l 23.999,0.072 c 4.154,0 7.51,-3.343 7.522,-7.478 0.013,-4.142 -3.336,-7.51 -7.477,-7.522 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4992"
                                    d="m 465.696,245.955 c 0,-21.165 -17.219,-38.383 -38.383,-38.383 l -93.894,0.001 c 16.563,-30.455 25.578,-68.276 25.578,-108.058 0,-21.165 -17.219,-38.383 -38.383,-38.383 -21.164,0 -38.383,17.218 -38.383,38.383 0,59.583 -48.474,108.057 -108.057,108.057 l -59.482,0 c -4.143,0 -7.5,3.358 -7.5,7.5 l 0,247.063 c 0,4.142 3.357,7.5 7.5,7.5 l 59.482,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-239.798 c 64.374,-3.89 115.557,-57.487 115.557,-122.822 0,-12.894 10.489,-23.383 23.383,-23.383 12.894,0 23.383,10.489 23.383,23.383 0,42.128 -10.673,81.714 -30.052,111.465 -1.502,2.306 -1.621,5.249 -0.31,7.668 1.311,2.419 3.842,3.926 6.594,3.926 l 107.083,-0.002 c 12.894,0 23.383,10.49 23.383,23.383 0,12.893 -10.489,23.383 -23.383,23.383 l -37.948,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 l 25.299,0 c 12.894,0 23.383,10.489 23.383,23.383 0,12.894 -10.489,23.383 -23.383,23.383 l -25.299,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 l 12.649,0 c 12.894,0 23.383,10.489 23.383,23.383 0,12.894 -10.489,23.383 -23.383,23.383 l -12.649,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 12.894,0 23.383,10.489 23.383,23.383 0,12.894 -10.489,23.383 -23.383,23.383 l -185.188,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 l 185.189,0 c 21.164,0 38.383,-17.218 38.383,-38.383 0,-10.258 -4.045,-19.589 -10.624,-26.482 13.674,-5.878 23.273,-19.481 23.273,-35.284 0,-10.258 -4.045,-19.589 -10.624,-26.482 13.674,-5.878 23.273,-19.481 23.273,-35.283 0,-10.258 -4.045,-19.589 -10.624,-26.482 13.675,-5.88 23.274,-19.483 23.274,-35.285 z m -299.02,208.68 -44.482,0 0,-232.063 44.482,0 0,232.063 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path4994"
                                    d="m 366.865,432.135 0,-187.062 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 -4.143,0 -7.5,3.358 -7.5,7.5 l 0,187.062 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                        </g>
                        <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.67843137"
         x="710.35303"
         y="853.06891"
         id="text4996"><tspan
           id="tspan4998"
           x="710.35303"
           y="853.06891"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-opacity:0.67843137">Podsumowanie projektu</tspan></text>
                    </g>
                    <g
                            id="g5000"
                            class="hoverable"
                            style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                        <g
                                style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                id="g5002"
                                transform="matrix(0.2127655,0,0,0.2127655,424.17288,719.84385)">
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path5004"
                                    d="m 452.159,16.363 -434.318,0 C 8.003,16.363 0,24.366 0,34.204 l 0,329.205 c 0,9.838 8.003,17.841 17.841,17.841 l 163.807,0 0,57.387 -70.739,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 248.182,0 c 4.143,0 7.5,-3.357 7.5,-7.5 0,-4.143 -3.357,-7.5 -7.5,-7.5 l -70.738,0 0,-57.387 163.807,0 c 9.838,0 17.841,-8.003 17.841,-17.841 l 0,-329.205 C 470,24.366 461.997,16.363 452.159,16.363 Z m -178.806,422.274 -76.705,0 0,-57.387 76.705,0 0,57.387 z M 455,363.409 c 0,1.54 -1.301,2.841 -2.841,2.841 l -434.318,0 C 16.301,366.25 15,364.949 15,363.409 L 15,34.204 c 0,-1.54 1.301,-2.841 2.841,-2.841 l 434.318,0 c 1.54,0 2.841,1.301 2.841,2.841 l 0,329.205 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path5006"
                                    d="m 431.478,305.228 -392.955,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 392.955,0 c 4.143,0 7.5,-3.357 7.5,-7.5 0,-4.143 -3.358,-7.5 -7.5,-7.5 z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path5008"
                                    d="m 124.666,250.416 c 33.343,19.503 71.496,29.812 110.334,29.812 38.839,0 76.991,-10.309 110.334,-29.812 32.35,-18.921 59.488,-46.004 78.483,-78.319 1.379,-2.347 1.379,-5.255 0,-7.602 C 404.822,132.18 377.683,105.097 345.334,86.175 311.991,66.672 273.839,56.363 235,56.363 c -38.839,0 -76.992,10.309 -110.334,29.812 -32.35,18.922 -59.489,46.005 -78.483,78.32 -1.379,2.347 -1.379,5.255 0,7.602 18.994,32.315 46.133,59.398 78.483,78.319 z m 107.413,14.764 c -52.103,-1.55 -94.011,-44.413 -94.011,-96.884 0,-52.472 41.909,-95.335 94.011,-96.885 0.974,-0.014 1.945,-0.048 2.921,-0.048 0.976,0 1.947,0.034 2.921,0.048 52.102,1.55 94.011,44.413 94.011,96.885 0,52.471 -41.909,95.333 -94.011,96.884 -0.974,0.014 -1.945,0.048 -2.921,0.048 -0.976,0 -1.947,-0.034 -2.921,-0.048 z m 176.517,-96.884 c -23.162,37.494 -57.726,66.025 -97.629,82.126 22.103,-20.46 35.965,-49.702 35.965,-82.126 0,-32.424 -13.862,-61.666 -35.966,-82.126 39.903,16.1 74.468,44.632 97.63,82.126 z M 159.034,86.169 c -22.104,20.461 -35.966,49.703 -35.966,82.127 0,32.423 13.862,61.665 35.966,82.126 C 119.131,234.321 84.567,205.791 61.405,168.296 84.566,130.801 119.13,102.27 159.034,86.169 Z" />
                            <path
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#adadad;fill-opacity:0.67843139;fill-rule:nonzero;stroke:#adadad;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.67843139;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                    id="path5010"
                                    d="m 284.918,168.295 c 0,-7.135 -1.488,-14.044 -4.423,-20.536 -1.705,-3.773 -6.146,-5.451 -9.923,-3.745 -3.774,1.706 -5.451,6.148 -3.745,9.923 2.051,4.538 3.091,9.368 3.091,14.358 0,19.254 -15.664,34.918 -34.918,34.918 -19.254,0 -34.918,-15.664 -34.918,-34.918 0,-19.254 15.664,-34.918 34.918,-34.918 4.989,0 9.82,1.04 14.359,3.092 3.775,1.708 8.217,0.029 9.923,-3.745 1.706,-3.774 0.029,-8.217 -3.745,-9.923 -6.493,-2.936 -13.403,-4.424 -20.537,-4.424 -27.525,0 -49.918,22.394 -49.918,49.918 0,27.524 22.393,49.918 49.918,49.918 27.524,0 49.918,-22.394 49.918,-49.918 z" />
                        </g>
                        <text
         id="text5012"
         y="845.7536"
         x="351.42712"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.67843137"
         xml:space="preserve"><tspan
           y="845.7536"
           x="351.42712"
           id="tspan5014"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-opacity:0.67843137">Testy z użytkownikami</tspan></text>
                    </g>
                    <g
                            id="g5016"
                            class="hoverable"
                            style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                        <g
                                id="g5018"
                                transform="matrix(0.21276596,0,0,0.21276596,79.091068,721.14939)"
                                style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139">
                            <path
                                    id="path5020"
                                    d="m 462.5,22.5 -455,0 C 3.358,22.5 0,25.857 0,30 l 0,410 c 0,4.143 3.358,7.5 7.5,7.5 l 455,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-80 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 -4.142,0 -7.5,3.357 -7.5,7.5 l 0,72.5 -440,0 0,-335 440,0 0,232.5 c 0,4.143 3.358,7.5 7.5,7.5 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-300 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 z m -447.5,15 277.5,0 0,45 -277.5,0 0,-45 z m 292.5,45 0,-45 147.5,0 0,45 -147.5,0 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path5022"
                                    d="m 381.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path5024"
                                    d="m 340.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path5026"
                                    d="m 422.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path5028"
                                    d="m 314.42,331.008 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,54.492 c 0,4.143 3.358,7.5 7.5,7.5 l 101.08,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-54.492 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -45.447,0 0,-44.648 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -97.553,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 90.053,0 0,37.148 -40.633,0 z M 408,385.5 l -86.08,0 0,-39.492 86.08,0 0,39.492 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path5030"
                                    d="m 308.173,170.605 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -131.346,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 131.347,0 c 4.141,0 7.499,-3.357 7.499,-7.5 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path5032"
                                    d="m 280.414,200.605 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -75.827,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 75.827,0 c 4.142,0 7.5,-3.357 7.5,-7.5 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                            <path
                                    id="path5034"
                                    d="m 184.46,331.008 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,54.492 c 0,4.143 3.358,7.5 7.5,7.5 l 101.08,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-54.492 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -43.04,0 0,-89.297 91.173,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-97.211 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -197.346,0 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,97.211 c 0,4.143 3.358,7.5 7.5,7.5 l 91.173,0 0,37.148 -120.053,0 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,44.648 -45.447,0 c -4.142,0 -7.5,3.357 -7.5,7.5 L 47,393 c 0,4.143 3.358,7.5 7.5,7.5 l 101.08,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-54.492 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -40.633,0 0,-37.148 112.553,0 0,37.148 -43.04,0 z M 143.827,144.5 l 182.347,0 0,82.211 -182.347,0 0,-82.211 z m 4.253,241 -86.08,0 0,-39.492 86.08,0 0,39.492 z m 129.96,0 -86.08,0 0,-39.492 86.08,0 0,39.492 z"
                                    style="fill:#adadad;fill-opacity:0.67843139;stroke:#adadad;stroke-opacity:0.67843139" />
                        </g>
                        <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:0.67843137"
         x="75.99527"
         y="847.01239"
         id="text5036"><tspan
           id="tspan5038"
           x="75.99527"
           y="847.01239"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#adadad;fill-opacity:0.67843137;stroke:#adadad;stroke-opacity:0.67843137">Ewaluacja</tspan></text>
                    </g>
                </g>
                <g
                        style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                        transform="matrix(0.13186931,0,0,0.13718403,-14.15863,-49.987335)"
                        id="foreground">
                    <path
                            class="hoverable"
                            id="processLine1"
                            d="m 200,464.64726 210,0"
                            style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                    <path
                            class="hoverable"
                            id="processLine2"
                            d="m 550,466.36216 210,0"
                            style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                    <path
                            class="hoverable"
                            id="processLine5"
                            d="m 410,769.36196 -210,0"
                            style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                    <path
                            class="hoverable"
                            id="processLine4"
                            d="m 760,769.36196 -210,0"
                            style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                    <path
                            class="hoverable"
                            id="processLine3"
                            d="m 903.49485,463.32094 13.13559,0 c 21.96243,0 39.64337,22.51143 39.64337,50.47406 l 0,0 0,205.64777 c 0,27.96263 -17.68094,50.47406 -39.64337,50.47406 l -13.13559,0"
                            style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:4.47321177;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                    <g
                            style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                            class="hoverable"
                            id="processIcon1">
                        <g
                                style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                transform="matrix(0.21276596,0,0,0.21276596,79.091068,421.14939)"
                                id="g68">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 462.5,22.5 -455,0 C 3.357,22.5 0,25.858 0,30 l 0,410 c 0,4.142 3.357,7.5 7.5,7.5 l 455,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-80 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 -4.143,0 -7.5,3.358 -7.5,7.5 l 0,72.5 -440,0 0,-335 440,0 0,232.5 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-300 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 z m -447.5,15 277.5,0 0,45 -277.5,0 0,-45 z m 292.5,45 0,-45 147.5,0 0,45 -147.5,0 z"
                                    id="path70" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 381.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path72" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 340.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path74" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 422.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path76" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 269.745,328.458 c 0,1.989 0.79,3.897 2.196,5.303 l 58.543,58.542 c 1.407,1.407 3.314,2.197 5.304,2.197 1.99,0 3.896,-0.79 5.304,-2.197 l 21.213,-21.213 c 2.929,-2.929 2.929,-7.678 0,-10.606 l -58.542,-58.542 c -2.929,-2.929 -7.677,-2.929 -10.607,0 l -5.303,5.303 -10.831,-10.831 c 32.824,-38.264 31.15,-96.129 -5.079,-132.358 -18.416,-18.416 -42.9,-28.557 -68.943,-28.557 -26.043,0 -50.527,10.142 -68.943,28.557 -38.015,38.015 -38.015,99.871 0,137.886 18.416,18.416 42.9,28.557 68.943,28.557 23.527,0 45.78,-8.279 63.438,-23.455 l 10.807,10.808 -5.303,5.303 c -1.407,1.407 -2.197,3.314 -2.197,5.303 z M 144.663,291.335 c -32.167,-32.167 -32.167,-84.506 0,-116.673 15.582,-15.582 36.3,-24.164 58.336,-24.164 22.036,0 42.754,8.582 58.336,24.164 32.167,32.167 32.167,84.506 0,116.673 -15.582,15.582 -36.3,24.164 -58.336,24.164 -22.036,0 -42.754,-8.582 -58.336,-24.164 z m 201.732,74.453 -10.606,10.607 -47.937,-47.936 5.301,-5.301 c 0.005,-0.005 5.306,-5.306 5.306,-5.306 l 47.936,47.936 z"
                                    id="path78" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 250.729,185.27 c -12.75,-12.749 -29.7,-19.771 -47.73,-19.771 -18.03,0 -34.98,7.021 -47.73,19.771 -26.317,26.318 -26.317,69.141 0,95.459 12.75,12.749 29.7,19.771 47.73,19.771 18.03,0 34.98,-7.021 47.73,-19.771 26.318,-26.318 26.318,-69.142 0,-95.459 z m -10.607,84.852 c -9.916,9.916 -23.1,15.377 -37.123,15.377 -14.023,0 -27.207,-5.461 -37.123,-15.377 -20.47,-20.47 -20.47,-53.776 0,-74.246 9.916,-9.916 23.1,-15.377 37.123,-15.377 14.023,0 27.207,5.461 37.123,15.377 20.47,20.47 20.47,53.776 0,74.246 z"
                                    id="path80" />
                        </g>
                        <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:23.47328186px;line-height:125%;font-family:'Crete Round';-inkscape-font-specification:'sans-serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="39.860424"
         y="549.34454"
         id="text5099"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:23.47328186px;line-height:125%;font-family:'Crete Round';-inkscape-font-specification:'sans-serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
           id="tspan5101"
           x="39.860424"
           y="549.34454">Badanie potrzeb</tspan></text>
                    </g>
                    <g
                            style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                            class="hoverable"
                            id="processIcon2">
                        <g
                                style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                transform="matrix(0.2127655,0,0,0.21276578,424.17288,419.74373)"
                                id="g4">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 452.159,16.364 -434.318,0 C 8.003,16.364 0,24.367 0,34.205 L 0,363.41 c 0,9.837 8.003,17.841 17.841,17.841 l 163.807,0 0,57.386 -70.739,0 c -4.142,0 -7.5,3.358 -7.5,7.5 0,4.142 3.358,7.5 7.5,7.5 l 248.182,0 c 4.143,0 7.5,-3.358 7.5,-7.5 0,-4.142 -3.357,-7.5 -7.5,-7.5 l -70.738,0 0,-57.387 163.807,0 c 9.838,0 17.841,-8.003 17.841,-17.841 l 0,-329.204 C 470,24.367 461.997,16.364 452.159,16.364 Z m -178.806,422.272 -76.705,0 0,-57.386 76.705,0 0,57.386 z M 455,363.409 c 0,1.54 -1.301,2.841 -2.841,2.841 l -434.318,0 C 16.301,366.25 15,364.949 15,363.409 L 15,34.205 c 0,-1.54 1.301,-2.841 2.841,-2.841 l 434.318,0 c 1.54,0 2.841,1.301 2.841,2.841 l 0,329.204 z"
                                    id="path6" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 431.478,305.227 -392.955,0 c -4.142,0 -7.5,3.358 -7.5,7.5 0,4.142 3.358,7.5 7.5,7.5 l 392.955,0 c 4.143,0 7.5,-3.358 7.5,-7.5 0,-4.142 -3.358,-7.5 -7.5,-7.5 z"
                                    id="path8" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 110,280.227 40,0 c 4.142,0 7.5,-3.358 7.5,-7.5 l 0,-108.808 c 0,-4.142 -3.358,-7.5 -7.5,-7.5 l -40,0 c -4.142,0 -7.5,3.358 -7.5,7.5 l 0,108.808 c 0,4.142 3.358,7.5 7.5,7.5 z m 7.5,-108.808 25,0 0,93.808 -25,0 0,-93.808 z"
                                    id="path10" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 180,280.227 40,0 c 4.142,0 7.5,-3.358 7.5,-7.5 l 0,-144.291 c 0,-4.142 -3.358,-7.5 -7.5,-7.5 l -40,0 c -4.142,0 -7.5,3.358 -7.5,7.5 l 0,144.291 c 0,4.142 3.358,7.5 7.5,7.5 z m 7.5,-144.291 25,0 0,129.291 -25,0 0,-129.291 z"
                                    id="path12" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 250,280.227 40,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-177.841 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 l -40,0 c -4.143,0 -7.5,3.358 -7.5,7.5 l 0,177.841 c 0,4.142 3.357,7.5 7.5,7.5 z m 7.5,-177.841 25,0 0,162.841 -25,0 0,-162.841 z"
                                    id="path14" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 320,280.227 40,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-74.291 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 l -40,0 c -4.143,0 -7.5,3.358 -7.5,7.5 l 0,74.291 c 0,4.142 3.357,7.5 7.5,7.5 z m 7.5,-74.291 25,0 0,59.291 -25,0 0,-59.291 z"
                                    id="path16" />
                        </g>
                        <text
         id="text5154"
         y="549.34454"
         x="378.18741"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
           y="549.34454"
           x="378.18741"
           id="tspan5156">Analiza i strategia</tspan></text>
                    </g>
                    <g
                            style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                            class="hoverable"
                            id="processIcon3">
                        <g
                                transform="matrix(0.21276596,0,0,0.21276596,786.38403,417.12888)"
                                id="g26"
                                style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate">
                            <path
                                    d="m 462.5,22.5 -455,0 C 3.358,22.5 0,25.858 0,30 l 0,410 c 0,4.142 3.358,7.5 7.5,7.5 l 455,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-80 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 -4.143,0 -7.5,3.358 -7.5,7.5 l 0,72.5 -440,0 0,-335 440,0 0,232.5 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-300 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 z m -447.5,15 277.5,0 0,45 -277.5,0 0,-45 z m 292.5,45 0,-45 147.5,0 0,45 -147.5,0 z"
                                    id="path28"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 381.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path30"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 340.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path32"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 422.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path34"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 151.351,147.764 60.392,60.392 c 2.929,2.929 7.678,2.929 10.606,0 2.929,-2.929 2.929,-7.678 0,-10.606 l -65.677,-65.677 c -2.922,-2.922 -7.657,-2.93 -10.588,-0.018 l -44.268,43.969 c -1.415,1.405 -2.211,3.315 -2.215,5.309 -0.004,1.994 0.787,3.906 2.197,5.316 l 29.009,29.009 c 0.01,0.01 36.819,36.819 36.819,36.819 1.464,1.464 3.384,2.197 5.303,2.197 1.919,0 3.839,-0.732 5.303,-2.197 2.929,-2.929 2.929,-7.678 0,-10.606 l -2.497,-2.497 17.163,-17.163 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.929,-2.929 -7.678,-2.929 -10.606,0 l -17.163,17.163 -18.407,-18.407 17.163,-17.163 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.929,-2.929 -7.678,-2.929 -10.606,0 l -17.163,17.163 -18.389,-18.389 33.624,-33.402 z"
                                    id="path36"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 255.499,340.15 c 0.001,0.001 57.978,57.978 57.978,57.978 1.407,1.407 3.314,2.197 5.304,2.197 1.99,0 3.896,-0.79 5.304,-2.197 l 44.118,-44.119 c 2.929,-2.929 2.929,-7.678 0,-10.606 l -65.752,-65.752 c -2.93,-2.929 -7.678,-2.929 -10.607,0 -2.929,2.929 -2.929,7.678 0,10.606 l 60.449,60.449 -33.512,33.512 -18.382,-18.382 17.163,-17.164 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.93,-2.929 -7.678,-2.929 -10.607,0 l -17.163,17.163 -18.382,-18.382 17.164,-17.163 c 2.929,-2.929 2.929,-7.678 0,-10.606 -2.929,-2.929 -7.677,-2.929 -10.607,0 l -17.163,17.163 -2.472,-2.472 c -2.93,-2.929 -7.678,-2.929 -10.607,0 -2.929,2.929 -2.929,7.678 0,10.606 l 7.774,7.775 z"
                                    id="path38"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 107.66,399.842 c 0.992,0 1.994,-0.197 2.943,-0.603 l 65.622,-28.023 c 0.029,-0.013 0.133,-0.057 0.133,-0.057 0.064,-0.027 0.125,-0.062 0.188,-0.091 0.142,-0.065 0.284,-0.13 0.422,-0.205 0.082,-0.044 0.161,-0.095 0.241,-0.143 0.126,-0.074 0.253,-0.146 0.376,-0.229 0.104,-0.07 0.202,-0.148 0.303,-0.222 0.093,-0.07 0.189,-0.135 0.279,-0.209 0.19,-0.156 0.374,-0.321 0.548,-0.496 L 340.774,207.506 c 10e-4,-0.001 19.082,-19.082 19.082,-19.082 6.439,-6.44 9.986,-15.014 9.986,-24.141 0.001,-9.127 -3.546,-17.701 -9.986,-24.141 -6.44,-6.44 -15.014,-9.987 -24.141,-9.987 -9.128,0 -17.701,3.547 -24.142,9.987 l -19.075,19.076 c -0.011,0.011 -162.064,162.064 -162.064,162.064 -0.175,0.174 -0.339,0.358 -0.495,0.548 -0.076,0.093 -0.143,0.191 -0.214,0.286 -0.073,0.098 -0.149,0.193 -0.217,0.295 -0.084,0.126 -0.159,0.256 -0.235,0.386 -0.045,0.077 -0.094,0.152 -0.136,0.231 -0.076,0.141 -0.143,0.286 -0.209,0.431 -0.028,0.061 -0.061,0.119 -0.088,0.181 l -0.043,0.1 c -0.015,0.034 -28.037,65.655 -28.037,65.655 -1.203,2.817 -0.572,6.083 1.594,8.249 1.436,1.437 3.354,2.198 5.306,2.198 z M 297.796,175.136 324.864,202.204 173.412,353.656 146.344,326.588 297.796,175.136 Z m 24.385,-24.385 c 3.606,-3.607 8.413,-5.594 13.534,-5.594 5.12,0 9.927,1.986 13.534,5.594 3.606,3.606 5.593,8.413 5.593,13.533 0,5.121 -1.986,9.927 -5.594,13.535 l -13.777,13.777 -27.068,-27.068 13.778,-13.777 z m -183.903,188.984 21.987,21.987 -38.374,16.387 16.387,-38.374 z"
                                    id="path40"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.66666669;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                        </g>
                        <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="758.81439"
         y="548.96216"
         id="text5158"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
           id="tspan5160"
           x="758.81439"
           y="548.96216">Projektowanie</tspan></text>
                    </g>
                    <path
                            id="processLine6"
                            class="hoverable"
                            d="m 63.482926,769.41192 -25.648235,0 0,0 c -6.551757,0 -11.826276,7.54401 -11.826276,16.9148 l 0,186.06291 c 0,9.37078 5.274519,16.91476 11.826276,16.91476 l 25.648235,0"
                            style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                    <g
                            style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                            class="hoverable"
                            id="processIcon4">
                        <g
                                style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                transform="matrix(0.21656365,0,0,0.21670444,785.53121,714.58995)"
                                id="g116">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="M 84.716,207.572 60.694,207.5 c -0.609,0 -1.104,-0.496 -1.104,-1.106 l 0,-119.638 c 0,-2.841 -1.605,-5.438 -4.146,-6.708 L 28.209,66.43 55.444,52.813 c 2.54,-1.27 4.146,-3.867 4.146,-6.708 l 0,-30 c 0,-0.609 0.495,-1.104 1.104,-1.104 l 331.749,0 c 0.609,0 1.104,0.496 1.104,1.104 l 0,168.967 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-168.968 C 408.547,7.224 401.322,0 392.443,0 L 60.694,0 C 51.814,0 44.59,7.225 44.59,16.104 l 0,25.365 -36.506,18.253 c -2.54,1.27 -4.146,3.867 -4.146,6.708 0,2.841 1.604,5.438 4.146,6.708 l 36.506,18.253 0,115.003 c 0,8.881 7.225,16.106 16.082,16.106 l 23.999,0.072 c 4.154,0 7.51,-3.343 7.522,-7.478 0.013,-4.142 -3.336,-7.51 -7.477,-7.522 z"
                                    id="path118" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 465.696,245.955 c 0,-21.165 -17.219,-38.383 -38.383,-38.383 l -93.894,0.001 c 16.563,-30.455 25.578,-68.276 25.578,-108.058 0,-21.165 -17.219,-38.383 -38.383,-38.383 -21.164,0 -38.383,17.218 -38.383,38.383 0,59.583 -48.474,108.057 -108.057,108.057 l -59.482,0 c -4.143,0 -7.5,3.358 -7.5,7.5 l 0,247.063 c 0,4.142 3.357,7.5 7.5,7.5 l 59.482,0 c 4.143,0 7.5,-3.358 7.5,-7.5 l 0,-239.798 c 64.374,-3.89 115.557,-57.487 115.557,-122.822 0,-12.894 10.489,-23.383 23.383,-23.383 12.894,0 23.383,10.489 23.383,23.383 0,42.128 -10.673,81.714 -30.052,111.465 -1.502,2.306 -1.621,5.249 -0.31,7.668 1.311,2.419 3.842,3.926 6.594,3.926 l 107.083,-0.002 c 12.894,0 23.383,10.49 23.383,23.383 0,12.893 -10.489,23.383 -23.383,23.383 l -37.948,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 l 25.299,0 c 12.894,0 23.383,10.489 23.383,23.383 0,12.894 -10.489,23.383 -23.383,23.383 l -25.299,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 l 12.649,0 c 12.894,0 23.383,10.489 23.383,23.383 0,12.894 -10.489,23.383 -23.383,23.383 l -12.649,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 12.894,0 23.383,10.489 23.383,23.383 0,12.894 -10.489,23.383 -23.383,23.383 l -185.188,0 c -4.143,0 -7.5,3.358 -7.5,7.5 0,4.142 3.357,7.5 7.5,7.5 l 185.189,0 c 21.164,0 38.383,-17.218 38.383,-38.383 0,-10.258 -4.045,-19.589 -10.624,-26.482 13.674,-5.878 23.273,-19.481 23.273,-35.284 0,-10.258 -4.045,-19.589 -10.624,-26.482 13.674,-5.878 23.273,-19.481 23.273,-35.283 0,-10.258 -4.045,-19.589 -10.624,-26.482 13.675,-5.88 23.274,-19.483 23.274,-35.285 z m -299.02,208.68 -44.482,0 0,-232.063 44.482,0 0,232.063 z"
                                    id="path120" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 366.865,432.135 0,-187.062 c 0,-4.142 -3.357,-7.5 -7.5,-7.5 -4.143,0 -7.5,3.358 -7.5,7.5 l 0,187.062 c 0,4.142 3.357,7.5 7.5,7.5 4.143,0 7.5,-3.358 7.5,-7.5 z"
                                    id="path122" />
                        </g>
                        <text
         id="text5162"
         y="853.06891"
         x="710.35309"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
           y="853.06891"
           x="710.35309"
           id="tspan5164">Podsumowanie projektu</tspan></text>
                    </g>
                    <g
                            style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                            class="hoverable"
                            id="processIcon5">
                        <g
                                transform="matrix(0.2127655,0,0,0.2127655,424.17288,719.84385)"
                                id="g50"
                                style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate">
                            <path
                                    d="m 452.159,16.363 -434.318,0 C 8.003,16.363 0,24.366 0,34.204 l 0,329.205 c 0,9.838 8.003,17.841 17.841,17.841 l 163.807,0 0,57.387 -70.739,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 248.182,0 c 4.143,0 7.5,-3.357 7.5,-7.5 0,-4.143 -3.357,-7.5 -7.5,-7.5 l -70.738,0 0,-57.387 163.807,0 c 9.838,0 17.841,-8.003 17.841,-17.841 l 0,-329.205 C 470,24.366 461.997,16.363 452.159,16.363 Z m -178.806,422.274 -76.705,0 0,-57.387 76.705,0 0,57.387 z M 455,363.409 c 0,1.54 -1.301,2.841 -2.841,2.841 l -434.318,0 C 16.301,366.25 15,364.949 15,363.409 L 15,34.204 c 0,-1.54 1.301,-2.841 2.841,-2.841 l 434.318,0 c 1.54,0 2.841,1.301 2.841,2.841 l 0,329.205 z"
                                    id="path52"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 431.478,305.228 -392.955,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 392.955,0 c 4.143,0 7.5,-3.357 7.5,-7.5 0,-4.143 -3.358,-7.5 -7.5,-7.5 z"
                                    id="path54"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 124.666,250.416 c 33.343,19.503 71.496,29.812 110.334,29.812 38.839,0 76.991,-10.309 110.334,-29.812 32.35,-18.921 59.488,-46.004 78.483,-78.319 1.379,-2.347 1.379,-5.255 0,-7.602 C 404.822,132.18 377.683,105.097 345.334,86.175 311.991,66.672 273.839,56.363 235,56.363 c -38.839,0 -76.992,10.309 -110.334,29.812 -32.35,18.922 -59.489,46.005 -78.483,78.32 -1.379,2.347 -1.379,5.255 0,7.602 18.994,32.315 46.133,59.398 78.483,78.319 z m 107.413,14.764 c -52.103,-1.55 -94.011,-44.413 -94.011,-96.884 0,-52.472 41.909,-95.335 94.011,-96.885 0.974,-0.014 1.945,-0.048 2.921,-0.048 0.976,0 1.947,0.034 2.921,0.048 52.102,1.55 94.011,44.413 94.011,96.885 0,52.471 -41.909,95.333 -94.011,96.884 -0.974,0.014 -1.945,0.048 -2.921,0.048 -0.976,0 -1.947,-0.034 -2.921,-0.048 z m 176.517,-96.884 c -23.162,37.494 -57.726,66.025 -97.629,82.126 22.103,-20.46 35.965,-49.702 35.965,-82.126 0,-32.424 -13.862,-61.666 -35.966,-82.126 39.903,16.1 74.468,44.632 97.63,82.126 z M 159.034,86.169 c -22.104,20.461 -35.966,49.703 -35.966,82.127 0,32.423 13.862,61.665 35.966,82.126 C 119.131,234.321 84.567,205.791 61.405,168.296 84.566,130.801 119.13,102.27 159.034,86.169 Z"
                                    id="path56"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                            <path
                                    d="m 284.918,168.295 c 0,-7.135 -1.488,-14.044 -4.423,-20.536 -1.705,-3.773 -6.146,-5.451 -9.923,-3.745 -3.774,1.706 -5.451,6.148 -3.745,9.923 2.051,4.538 3.091,9.368 3.091,14.358 0,19.254 -15.664,34.918 -34.918,34.918 -19.254,0 -34.918,-15.664 -34.918,-34.918 0,-19.254 15.664,-34.918 34.918,-34.918 4.989,0 9.82,1.04 14.359,3.092 3.775,1.708 8.217,0.029 9.923,-3.745 1.706,-3.774 0.029,-8.217 -3.745,-9.923 -6.493,-2.936 -13.403,-4.424 -20.537,-4.424 -27.525,0 -49.918,22.394 -49.918,49.918 0,27.524 22.393,49.918 49.918,49.918 27.524,0 49.918,-22.394 49.918,-49.918 z"
                                    id="path58"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.6666671;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
                        </g>
                        <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="351.42719"
         y="845.7536"
         id="text5166"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
           id="tspan5168"
           x="351.42719"
           y="845.7536">Testy z użytkownikami</tspan></text>
                    </g>
                    <g
                            style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                            class="hoverable"
                            id="processIcon6">
                        <g
                                style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                transform="matrix(0.21276596,0,0,0.21276596,79.091068,721.14939)"
                                id="g90">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 462.5,22.5 -455,0 C 3.358,22.5 0,25.857 0,30 l 0,410 c 0,4.143 3.358,7.5 7.5,7.5 l 455,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-80 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 -4.142,0 -7.5,3.357 -7.5,7.5 l 0,72.5 -440,0 0,-335 440,0 0,232.5 c 0,4.143 3.358,7.5 7.5,7.5 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-300 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 z m -447.5,15 277.5,0 0,45 -277.5,0 0,-45 z m 292.5,45 0,-45 147.5,0 0,45 -147.5,0 z"
                                    id="path92" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 381.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path94" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 340.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path96" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 422.5,52 c -4.411,0 -8,3.589 -8,8 0,4.411 3.589,8 8,8 4.411,0 8,-3.589 8,-8 0,-4.411 -3.589,-8 -8,-8 z"
                                    id="path98" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 314.42,331.008 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,54.492 c 0,4.143 3.358,7.5 7.5,7.5 l 101.08,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-54.492 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -45.447,0 0,-44.648 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -97.553,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 90.053,0 0,37.148 -40.633,0 z M 408,385.5 l -86.08,0 0,-39.492 86.08,0 0,39.492 z"
                                    id="path100" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 308.173,170.605 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -131.346,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 131.347,0 c 4.141,0 7.499,-3.357 7.499,-7.5 z"
                                    id="path102" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 280.414,200.605 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -75.827,0 c -4.142,0 -7.5,3.357 -7.5,7.5 0,4.143 3.358,7.5 7.5,7.5 l 75.827,0 c 4.142,0 7.5,-3.357 7.5,-7.5 z"
                                    id="path104" />
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
                                    d="m 184.46,331.008 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,54.492 c 0,4.143 3.358,7.5 7.5,7.5 l 101.08,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-54.492 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -43.04,0 0,-89.297 91.173,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-97.211 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -197.346,0 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,97.211 c 0,4.143 3.358,7.5 7.5,7.5 l 91.173,0 0,37.148 -120.053,0 c -4.142,0 -7.5,3.357 -7.5,7.5 l 0,44.648 -45.447,0 c -4.142,0 -7.5,3.357 -7.5,7.5 L 47,393 c 0,4.143 3.358,7.5 7.5,7.5 l 101.08,0 c 4.142,0 7.5,-3.357 7.5,-7.5 l 0,-54.492 c 0,-4.143 -3.358,-7.5 -7.5,-7.5 l -40.633,0 0,-37.148 112.553,0 0,37.148 -43.04,0 z M 143.827,144.5 l 182.347,0 0,82.211 -182.347,0 0,-82.211 z m 4.253,241 -86.08,0 0,-39.492 86.08,0 0,39.492 z m 129.96,0 -86.08,0 0,-39.492 86.08,0 0,39.492 z"
                                    id="path106" />
                        </g>
                        <text
         id="text5170"
         y="847.01239"
         x="75.995255"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
           y="847.01239"
           x="75.995255"
           id="tspan5172">Ewaluacja</tspan></text>
                    </g>
                    <text
       id="processLastText"
       y="992.36218"
       x="100"
       style="font-style:normal;font-weight:normal;font-size:26.40744209px;line-height:125%;font-family:'Crete Round', serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-size:26.40744209px;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-opacity:1"
         y="992.36218"
         x="100"
         id="tspan3408">To jeszcze nie koniec....</tspan></text>
                    <g
                            id="showFullProcess">
                        <path
                                id="showFullProcessRect"
                                d="m 551.99867,927.61342 360.74926,0 c 11.88116,0 21.44614,11.02142 21.44614,24.71171 l 0,47.79097 c 0,13.6902 -9.56498,24.7117 -21.44614,24.7117 l -360.74926,0 c -11.88116,0 -21.44614,-11.0215 -21.44614,-24.7117 l 0,-47.79097 c 0,-13.69029 9.56498,-24.71171 21.44614,-24.71171 z"
                                style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:7.23175812;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;opacity:1" />
                        <text
         id="showFullProcessText"
         y="986.41504"
         x="566.14844"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:41.38394165px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;opacity:1;"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:41.38394165px;line-height:125%;font-family:'Crete Round', serif;-inkscape-font-specification:'Crete Round, serif, Normal';text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;"
           y="986.41504"
           x="566.14844"
           id="seeFullProcess">Zobacz cały proces</tspan></text>
                    </g>
                </g>
            </svg>

        </div>
        <!--<div style="align-self: center; padding-top:30vh;" class="howBounce bounce"></div>-->
    </div>

</div>