/*!**/
/*Demo Styles: NOT REQUIRED*/
/**!*/
/*html {*/
/*!*overflow: auto;*!*/
/*}*/



html,
body {
    font-family: 'Crete Round', serif;
    height: 100%;
    font-size: calc(1vh + 0.4vw);
}

.snow {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    display: none;
}

main{
    display: block;
    position: static;
    animation: padding-top 2s ease;
    /*height: 90vh;*/
    background-color: transparent;
}
h1{
    font-size: 5.2em;
    word-break: keep-all;
    /*TODO: test if it's ok to not break word*/
    margin-bottom: 3vh;
}
h2{
    font-size: 4em;
    word-break: break-word;
    margin-bottom: 3vh;
}

.flex-row {
    display: flex;
}



.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}


#hamburger-menu-icon{
    cursor:pointer;
    display:none;
    background: transparent;
    border: none;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.page-content {
    padding-top: 10vh;
    width: 80%;
    z-index: 2; /*dla tla filtrowanego */
}

.pagePanel {
    height: 100%;
}


.svgContent {
    top: 100%;
    position: absolute;
}

.scrollContainer {
    width: 100%;
    height: 100vh;
}

.narrow-container {
    font-family: 'Montserrat', sans-serif;

    margin-top: 15px;
    margin-bottom: 15px;
    width: 80vw;
    z-index: 2;

    /*padding: 5px 50px 0px 50px;*/
    -webkit-animation: padding 0.7s infinite;
    -moz-animation: padding 0.7s infinite;
    animation: padding 0.7s infinite;

    display:flex;
    align-items: center;
    /*justify-content: center;*/
}
.narrow-container > div {
    height: 10vh;
}
.smaller-container {
    padding: 5px 350px 0px 250px;
}

.pbtns-logo {
    background-image: url("/images/pushbuttons_logo_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis:20%;
    cursor:pointer;
}
.pbtns-logo a {
    width: 20%;
    height: 10vh;
    position: fixed;
}
.bw-logo-container{
    margin-right: auto;
    display:none
}
.pbtns-logo-bw{
    display:none;
    flex-basis:90%;
}
.smaller-logo {
    height: 60px;
}
.hamburger-icon{
    height:100%;
}
.home {
    height: 100%;
}
.homepageBounce{
    cursor: pointer;
}
.typed-text-container{

    font-weight: bold;

    /*padding-left:5vw;*/
    padding-top:5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:90%;
    width: 80vw;
}
.typedText {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#d9534f;
    text-align: left;
    font-size:8vw;
    /*height: 100px;*/
    height: 9vw;
}

.typedSubtext {
    /*padding-top: 1vw;*/
    font-size: 4vw;
    height: 9vh;
    padding-left: 0.15em;
    /*width: 40%;*/
    color: #adadad;
    text-align: left;
}



.greyLight {
    background-color: #999999;
}

.white {
    background-color: #ffffff;
    /*background-color: black;*/
}

.red {
    background-color: #d9534f;
}

.hands {
    background: url('/images/hands.jpg');
    background-size: 100%;
    display: block;
    filter: contrast(100%) brightness(65%) grayscale(1);
    -webkit-filter: contrast(100%) brightness(65%) grayscale(1);
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;

}
.cards {
    background: url('/images/kartki.jpg');
    background-size: 100%;
    display: block;
    filter: contrast(26%) brightness(25%);
    -webkit-filter: contrast(26%) brightness(25%);
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
}
.buttons {
    background: url('/images/bcg.jpg');
    background-size: auto  ;
    display: block;
    /*filter: contrast(26%) brightness(25%);*/
    /*-webkit-filter: contrast(26%) brightness(25%);*/
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.blue {
    background: #293333;
}
.black {
    background-color: black;
}

.transparent {
    background-color: rgba(255, 255, 255, 0);
}

.greyDark {
    background-color: rgb(85, 85, 85);
}

/*TYPED TEXT*/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
    }
    95% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
    }
    95% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        opacity: 1;
    }
}

/*
KEYFRAMES
*/

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}



.bounce {
    z-index: 4;
    display:block;
    padding-top: 40px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.bounce::before {
    content: url('/images/arrow-down.png');
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
    }
    95% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        opacity: 1;
    }
}
header {
    -webkit-animation: background .8s ease;
    -moz-animation: background .8s ease;
    animation: background .8s ease;
}
/*!*MENU*!*/
.menu {
    height: 10vh;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.37);
    -webkit-animation: background .8s ease;
    -moz-animation: background .8s ease;
    animation: background .8s ease;
    -webkit-transition:  background .8s ease;
    -moz-transition:  background .8s ease;
    -ms-transition:  background .8s ease;
    -o-transition:  background .8s ease;
    transition:  background .8s ease;
}

.menu-slide-background {
    background-position: 0 100%;
}

.menu-slide-background-upside {
    background-position: 0 100%;
}

.menu-project-button{
    border-color:#d9534f;
    background-color:#d9534f;
    color:white;
 }

.menu-project-button:hover{
    color:white;
}

.offer-square {
    /*cursor: pointer;*/
}

.menu-bar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    /*margin-left: auto !important;*/
    z-index: 2;
    flex-wrap: wrap;
    flex-basis: 80%;
    /*safari center/height fix*/
    /*height: 100% !important;*/

    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*-ms-transition: all 1s ease;*/
}

.smaller-menu-item {
    font-size: smaller !important;
}

.menu-item {
    /*margin: 0px 10px 0px 10px;*/
    font-size: calc(0.8vw + 1vh);
    /*width:calc(0.8vw + 1vh+ 10px);*/
    margin: 10px;
    /*padding: 10px;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.menu-bar .btn {
    font-size: calc(0.7vw + 0.5vh);
    max-height: 9vh;
    /*width:100%;*/
}
.menu-item a {
    /*font-size: 1.1em;*/
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    white-space: nowrap;
}

.menu-item a:hover {
    /*font-weight: bold;*/
    opacity: 1;
    color:#d9534f;
}
.btn:focus, .btn:active,.btn:active:focus{
    outline: none;
}
/*.menu-item:hover{*/
/*opacity: 1;*/
/*-webkit-animation: blink 0.7s;*/
/*-moz-animation: blink 0.7s;*/
/*animation: blink 0.7s;*/
/*}*/

.menu-item-active a{
    /*font-weight: bold;*/
    opacity: 1;
    color:#d9534f;
}

.square-bordered {
    border: 1px solid black;
}

/*OFFER (what)*/
.what {
    display: flex;
}

.section-container {
    /*width:80vw;*/
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.section-container > div {
    overflow-wrap: break-word;
}
.offer-cell{
    /*flex-basis: 30%;*/
}

.offer-square {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;

    padding-top: 20px;

    background-color: white;
    border: 2px solid #adadad;
    width: 28vh;
    height: 28vh;
    border-radius: 10%;
    margin: 2vh 2vh 2vh 0;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
}

.offer-square:hover {
    box-shadow: 0px 0px 50px whitesmoke;
    z-index: 99;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.section-content {
    flex-basis: 60%;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.section-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 2vw;
    font-size: 1.2em;
    width: 40%;
    flex-basis: 35%;
    text-align: left;

}

.offer-text {
    padding-right: 5vw;
    font-size: 18px;
    width: 40vh;
    text-align: justify;
}
.offer-text > p {
    padding-top: 5vh;
}

.what-icon {
    width: 11vh;
    height: 11vh;
}

.offer-square-text {
    text-align: center;
    /*font-size: inherit;*/
    color: black;
    font-size: 1.1em;

    /*width:95%%;*/
    color: black;
    text-decoration: none !important;
    margin-top: 5px;
}

/*HOW (proces)*/
tspan {
    font-family: 'Crete Round', serif;
    /*font-size: 30px !important;*/
}
.how-container{
    display: flex;
    /*align-items: center;*/
    height: 100vh;
    color:white;
}
.full-process-button {
    background-color: transparent;
    border-color: #adadad;
    border: 2px solid;
    color: #d9534f;
}
.how-text-container{
    color:white;
    width: 30vh;
    text-align: justify;
    font-size: 1.1em;
    padding-top: 10vh;
}

.how-text-content{
    /*padding-top: 5vh;*/
    /*padding-bottom: 5vh;*/
    color:white;
}

.how-process{
}

.process-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 8vw;
    margin-bottom:2vh;
    flex-shrink:2;
}
.process-container{
    width: 45vw;
    align-self: center;
}
.process-container svg{
    max-height: calc(18vw + 18vh);
    max-width: 100%;
}
.responsive-svg{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.process-icon {
    width: 5vw;
    height: 5vw;
    stroke: white;
    fill: white;
}
.process-icon svg::before{
    width: 100%;
    background: #fff;
    margin: 0 auto;
}

.process-text{
    color:white;
    text-align: center
}
.process-line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 8vw;

}

.last-line{

}

/*
 KONTAKT
*/
/*.contact {*/
    /*background: #000000;*/
/*}*/
.contact-section{
    /*padding-top: 10vh;*/
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;

}
.text-button-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.challanges-text{
    font-size: 3.2em;
    color:white;
    margin-bottom: 4vh;
    font-weight: bold;
    text-align: center;
}
.great-text{
    font-size: 2.5em;
    color: #adadad;
    font-weight: bold;
    text-align: center;
}
.contact-footer{
    color: #adadad;
    padding-top: 5%;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

}
.footer-coffee p {
    padding-left: 1em;
}
.footer-cell{
    font-size: 1.3em;
    /*height: 30%;*/
    width:100%;

    /*margin-right: 65px;*/
    /*margin-left:65px;*/
    color:#ffffff;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-cell span {
    margin-right: 15px;
}
.footer-cell h5{
    color: white;
    font-size: 24px;
    margin: 10px;
}
.footer-cell a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    /*font-size: 1.2em;*/
}
.footer-cell > div{
   margin: 10px 10px 10px 10px;
}
.footer-cell .footer-icon{
}

.footer-logo{
    height:120px;
}
.footer-logo img{
    max-height: 120px;
}


.footer-logo-rights{
    /*margin-left: 50px;*/
}

#credits{
    align-self: flex-end;
    margin-right:10%;
    color:lightgray;
    opacity: 0.7;
    font-size: 0.7em;
}
@media(max-width:1024px){
    .process-description-container{
        width:0px;
    }
}

/*.contant-button:focus{*/
    /*outline: 5px auto #ed1e2a;*/
/*}*/

/* Kontakt */
.projects{
    display:flex;
    flex-direction: row;
}
.projects-text{
    width:30%;
    font-size: 1.3em;
    text-align: justify;
    padding-right: 5vw;
}
.projects-text > p {
    padding-top: 5vh;
}
.projects-carousel-container{
  width: 60%

}
.projects-carousel{

}

.carousel-slide {
    font-family: 'Montserrat', sans-serif;
    color: #adadad;
    overflow: auto;
    word-wrap: break-word;
    margin:5px;
    padding-left:50px;
    padding-right:50px;
    font-size: 0.9em;
    /*text-align: justify;*/
    /*display: flex !important;*/
    /*flex-direction: column;*/
    height: 75vh;
    /*width: 300px;*/
    /*background-color: whitesmoke;*/
    border: 2px solid hsla(0, 0%, 96%, 0.74);;
    border-radius: 50px;
    padding-top: 2vh;
}
.carousel-slide div {
    word-wrap: break-word;
}
.carousel-desc {
    /*flex-basis: 50%;*/
    padding-top: 1.42em;
}
.carousel-desc p:first-of-type {
    font-size: 1.15em;
}
.carousel-slide-bullets {
    display:flex;
    flex-direction: column;
    align-items: flex-start;


}
.carousel-slide-logo {
    margin-top:25px;
    display:flex;
    align-items: center;
    justify-content:center;
     height:30px;
    margin-bottom: 2vh;
}
.carousel-slide img{
    max-width: 110%;
    max-height: 135%;
}

.carousel-slide ul{
  color:#d9534f;
    top:75%;
    bottom: auto;
}
.carousel-slide li{
    margin-top: 5px;
}
.carousel-slide:focus{
    outline: none;
}
.carousel-slide h2{
text-align: center;
}
/* SLICK CAROUSEL */


.slick-prev, .slick-next{
    /*border:1px solid black*/
}
.slick-prev:before, .slick-next:before {
    font-family: "Glyphicons Halflings", "slick", sans-serif;
    /*font-size: 30px;*/
    text-align: center;
    color: black;
}

.slick-prev:before { content: "\e257"; }
.slick-next:before { content: "\e258"; }

/*.slick-carousel h1{ position:absolute; top:40px; left:20%; color:#fff; }*/

/******
 Process Page
******/


.processContainer{
    display:none;
}

.process-path-container{
    width: 100%;
    display:flex;
}

#scrollifySpacer{
    height:10vh;
}
.process-svg-container{
    flex-basis:40%;
}
.process-svg-container svg{
    /*padding-top: 10vh;*/
    /*padding-top: 10%;*/
    width: 50vw;
    height: 1600px;
}

.process-description-container{
    /*border: 1px solid black;*/
    /*flex-basis: 35vw;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}
.process-description-container {
    width: 10vh;
    flex-basis:40%;
}
@-webkit-keyframes visibility {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes visibility {
    from {opacity: 0;}
    to {opacity: 1;}
}
.process-desc{
    /*overflow: scroll;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;

    font-size: 1.2em;
    /*text-align: justify;*/
    padding-left: 10vw;
    padding-right: 5vw;
    position: absolute;
    margin-bottom: 20px;
    border-right: 3px solid black;
    width: 40vw;


}
.process-desc h2{
    font-size: 2.7em;
    margin-bottom: 3vh;
}

.process-desc p {
    width: 100%;
}

.starting-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height:80vh;
    width: 40vw;
}
.blurred {
   opacity: 0.35;
}
.process-desc-active{
    opacity: 1;
}
.process-desc:after {
    border-right: none;
    position: absolute;
    content: "";
    bottom: -5px;
    height: 5px;
    width: 1px;
}
.next-section-action{
    cursor: pointer;
}



/*
LOADER
*/

.loader {
    font-size: 0.72em;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #0dc5c1;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*ContactPage*/
#contactFooter {
    background: black;
}
.contact {
    padding-top: 0px;
}
#contactContainer {

}
#contactSubpage{
    padding-top: 5vh;
    background-color: white;
}
.idea-text-area{
    height: 20vh;
}
.contact-form{
    display: flex;
    flex-direction: column;

}
.contact-title-container{

}
.contact-text-and-form-container{
    display:flex;
}
.contact-text-container {
    margin-top: 2vh;
    font-size: 1.42em;
    flex-basis: 50vw;
    margin-right: 5vw;
    text-align: justify;
}
.contact-form-container{
    flex-basis: 50vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 15vw;
}

.contact-form-container a{
    color: black;
    text-decoration: none;
}
.contact-form label{
    padding-left: 10px;
}

/*OFFER*/
.offer-overlay{
    content: "";
    /*display: flex;*/
    background: white;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 4;
}
.offer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.offer-categories {
    display: flex;
}
.offer-categories a {
    margin-right: 20px;
    color: black;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(#d9534f, #d9534f) bottom / 0 .1em no-repeat;
    transition: 1s background-size;
}

.offer-categories ul {
    list-style-type: none;
}
.offer-categories > ul > li {
    margin-bottom: 25px;
}
.offer-categories a:hover {
    /*border-bottom: 2px solid #d9534f;*/
    background-size: 100% .1em;
    background-position: left bottom;
}

.offer-categories > h3:active {
    color: #d9534f;
}

.offer-carousel{
    display: flex;
    height: 60vh;
 }
.left-carousel-container {
    width: 15vw;
    margin-right: 25px;
}
.categories-container {
    width:100%;
    margin-left: 25px;
}
.categories-content {
    /*height: 70%;*/
    display: flex;
    width: 100%;
    /*   flex-direction: column; */
    /*flex-wrap: wrap;*/
}
.categories-content > div {
    flex: 1 0 0;
}
.left-carousel{
    height: 70%;
}
.categories-content button {
    top: 80%
}
.categories-content-section {
    transition: all .6s ease-out;
    margin: 5px;
    padding: 5px;
    /*border: 1px solid;*/
    cursor: pointer;
    height: 100%;
}
.categories-content-section:hover {
    flex: 6 0 0 !important;
    -webkit-box-shadow: 0 5px 15px 10px rgba(0,0,0,.37);
    -moz-box-shadow: 0 5px 15px 10px rgba(0,0,0,.37);
    box-shadow: 0 5px 15px 10px rgba(0,0,0,.37);
}

.categories-content-section h3{
   font-size: 2.2em;

}
.categories-content-section p{
    font-size: 1.1em;
    opacity: 0.03;
}
.left-carousel-slide{
    width: 15vw !important;
}
.left-carousel-slide svg{
    width: 15vw;
    fill: #d9534f;
    stroke: #d9534f;

}
.offerCategoryActive{
    color: #d9534f;
}


@media(max-width:900px){
    #submitFormButton{
        margin-bottom: 10px;
    }
    #homePage {
        padding-top: 10vh;
    }
    section {
        width: 100vw;
    }

    .pagePanel {
        height: auto;
    }

    .section-container {
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-content{
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        align-self: auto;
    }

    .section-text{
        flex-basis: auto;
        width: auto;
    }

    h2 {
        font-size: 3em;
    }
    /*
     *  MENU
     */
    .menu {
        /*position: fixed;*/
        /*right:100px;*/
        /*top:0px;*/
        background-color: rgba(0, 0, 0, 0.75);
        justify-content: center;
        width: 100%;
        height: auto;
        -webkit-animation: height .5s ease;
        -moz-animation: height .5s ease;
        animation: height .5s ease;
        -webkit-transition:  height .5s ease;
        -moz-transition:  height .5s ease;
        -ms-transition:  height .5s ease;
        -o-transition:  height .5s ease;
        transition:  height .5s ease;
    }

    .menu-bar{
        flex-basis: auto;
        /*margin-right: auto !important;*/
        /*height: auto !important;*/
        /*width: 40vw;*/
        flex-wrap: nowrap;
        width: 200px;
        flex-direction: column;
        display:none;
    }
    .menu-bar .btn {
        width: 100%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-item {
        /*margin: 0px 10px 0px 10px;*/
        /*font-size: 2em;*/
        width: 100px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        /*right:auto;*/

    }
    .menu-item a{
        color:white
    }

    .pbtns-logo{
        display:block;
        width: 100px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .pbtns-logo-bw{
        display:block;
        height: 8vh;
    }

    #hamburger-menu-icon{
        display:block;
        font-size: 25px;
        margin-top:1vh;
        color: white;
    }

    .bw-logo-container {
        display:block;
    }

    .narrow-container{
        width: 200px;
        /*justify-content: flex-end;*/
        /*align-items: flex-start;*/
        display: block;

    }
    .hamburger-icon {
        position: fixed;
        top: 0px;
        right: 20px;
        display: flex;
        align-items: center;

        justify-content: center;
    }

    /*
     *  home
     */

    .homepageBounce {
        display: none;
    }

    /*
        what
    */
    .offer-cell {
        margin-left: auto;
        margin-right: auto;
    }
    .offer {
        padding-top: 15vh;
    }
    /*
     *  how
    */
    .process-container{
        width: 90vw;
        align-self: center;
        display: flex;
    }
    #processLastText {
        opacity: 0 !important;
        stroke-opacity: 0 !important;

    }
    #processLine6 {
        stroke: black !important;
    }
    #showFullProcess {
        display: none;
    }
    .cards {
        display: none
    }

    #howPage {
        background: black;
    }

    /*
    PROCESSS
    */
    .process-path-container{
        justify-content: center;
    }
    .process-description-container {
     display: none;
    }
    .process-svg-container svg {
        width: 100vw;
    }
    /*
    * Projects
    */
    .projects {
        flex-direction: column;
    }

    .projects-carousel-container{
        width: auto;
    }

    .carousel-slide {
        height: auto;
    }
    /*
        Contact
    */
    .contact-footer {
        background: black;
    }
    #contactFooter {
        background: black;
    }
    #contactPage {
        background: black;
    }
    .contact-section {
        display: flex;
        flex-direction: column;
    }
    .hands {
        display: none;
    }
    .footer-contact-us, .footer-coffee {
        display: none
    }

    .footer-logo-rights{
        margin: auto;
        width: auto;
    }
    /*
    Form
    */
    .contact-text-and-form-container {
        flex-direction: column;
    }
    .contact-form-container {
        flex-basis: auto;
        padding: 0px;
    }


    /*
     OFFER
    */
    .offer-categories {
        flex-direction: column;
    }

    .offer-categories h3 {
        margin-bottom: 0px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cards { background: black; }
}


/** OLD OFFER PAGE */
