<!--<div class="bouncy-arrow bounce">-->
    <!--BOUNCE BABY-->
<!--</div>-->
<h1 style="visibility: hidden">proces</h1>
<div id="processContainer">
    <section class="pagePanel how-page" id="process">
        <div id="processPage" class="page">
            <div class="process-path-container">

                <div class="process-description-container">
                    <!--<div class="starting-arrow">-->
                        <!--<div class="bounce next-section-action" style=></div>-->
                    <!--</div>-->
                    <div class="process-1-description process-desc">
                        <p><h2>Zaczynamy!</h2><p>
                        Każdy projekt jest inny, dlatego strategię działania dopasowujemy indywidualnie do projektu.
                        Nasze działania jednak zawsze skupiają się na kilku stałych elementach. Nasza praca to nasza
                        pasja, którą staramy się pokazać w tym jak pracujemy.</p>
                        <div class="bounce next-section-action"></div>
                    </div>
                    <div class="process-2-description process-desc">
                        <!--<p>-->
                        <!--<h2>Zdobywanie wiedzy</h2>-->
                        <!--Zagłębiamy się w  specyfikę Twojego biznesu. Poznanie potrzeb, problemów i sposobu myślenia rzeczywistych-->
                        <!--użytkowników to podstawa, dlatego zawsze chcemy  zrozumieć ich jak najlepiej.-->
                        <!--Uczymy się poprzez ich obserwacje, wywiady, ankiety.-->
                        <!--</p>-->
                        <h2>Analiza i strategia</h2>
                        <!--<p>Sprawdzamy Twoją konkurencję. Jakie są ich silne strony. Jakie mają słabości, na których możemy się uczyć.-->
                            <!--Kiedy już zdobędziemy odpowiednią wiedzę o projekcie przygotowujemy strategię działania.-->
                            <!--Dokładnie określamy kto jest użytkownikiem, zastanawiamy się jakie doświadczenia będzie miał-->
                            <!--korzystając z naszego rozwiązania i jak je polepszyć . Precyzujemy w jaki sposób, i w jakich sytuacjach-->
                            <!--będzie korzystał z projektowanego rozwiązania.-->
                            <!--Plan działania przedstawiamy Tobie, chcemy żebyś wiedział jakie będą nasze kolejne kroki.-->
                        <!--</p>-->

                        <div class="bounce next-section-action"></div>
                    </div>
                    <div class="process-3-description process-desc">
                        <h2>Projektowanie</h2>
                        <!--Tworzymy prototyp rozwiązania. Możemy wykorzystać go do testów z użytkownikami, aby sprawdzić czy nasze-->
                        <!--pomysły zmierzają w dobrym kierunku. Prototyp również wykorzystujemy do zlecania prac grafikowi-->
                        <!--i programistom.-->

                        <div class="bounce next-section-action"></div>
                    </div>
                    <div class="process-4-description process-desc">
                        <h2>Proces projektowy</h2>
                       <p> Proces projektowy to ciągła weryfikacja, czy podjęte decyzje są słuszne i
                           przybliżają nas do realizacji celów.</p>
                        <div class="bounce next-section-action"></div>
                    </div>
                    <div class="process-5-description process-desc">
                        <h2>To dopiero początek...</h2>
                        <p>Zaprojektowanie rozwiązania to dopiero początek drogi. Jesteśmy gotowi na przygotowanie zadań
                        dla programistów i grafika oraz współpracę z nimi podczas trwania projektu. Jeśli wolisz, sami
                        możemy przejąć prace programistyczne. </p><p >Jeśli potrzebujesz wsparcia marketingowego, w budowie
                        swojej marki chętnie polecimy Ci specjalistów w tej dziedzinie.</p>
                    </div>
                </div>
                <div class="process-svg-container">
                </div>

            </div>
        </div>
    </section>
    <section class="pagePanel how-page" id="contactFooter">
        <div id="processFooter" class="page"></div>
    </section>
</div>