
<div class="page-content">

    <div class="projects">

        <div class="section-text">
            <h1>nasze projekty</h1>
            <p>Lubimy nowe wyzwania. Podejmujemy się badania i projektowania aplikacji z różnych obszarów merytorycznych.
                Dzięki sumiennemu podejściu do etapu analizy możemy ze spokojem realizować nawet najbardziej wymagające projekty.</p>

        </div>
        <div class="projects-carousel-container">
            <div class="projects-carousel owl-carousel owl-theme">
                <div class="carousel-slide fastest">

                    <div class="carousel-slide-logo">
                        <img src="images/projects/fastest.jpg">
                    </div>
                    <div class="carousel-desc">
                        <p><strong> Zaprojektowanie i nadzór nad realizacją platformy do zarządzania testami</strong></p>
                        <p>Platforma do zarządzania projektami testowymi</p>

                        <p>Zespół Push Buttons był odpowiedzialny za zaprojektowanie "od zera" nowej wersji platformy.</p>

                        <p> Poza analizą i zaprojektowaniem systemu byliśmy odpowiedzialni za zlecanie i odbiór prac programistycznych.
                        </p>

                    </div>

                    <div class="carousel-slide-bullets">
                        <p>Etapy realizacji:</p>
                        <ul>
                            <li> badanie potrzeb użytkowników</li>
                            <li>analiza merytoryczna</li>
                            <li>projektowanie</li>
                            <li>stworzenie makiet i prototypu</li>
                            <li>zlecanie prac programistycznych i graficznych</li>
                            <li>nadzór nad realizacją prac programistycznych</li>
                            <li>koordynacja działań marketingowych</li>
                        </ul>
                    </div>



                </div>
                <div class="carousel-slide aiut">


                    <div class="carousel-slide-logo">
                        <img src="images/projects/aiut.jpg">
                    </div>
                    <div class="carousel-desc">

                        <p> <strong> Zaprojektowanie obszaru planowania i zarządzania budżetem dla nowo tworzonego oprogramowania. </strong></p>
                        <p>Oprogramowanie do planowania i zarządzania budżetem</p>

                        <p> Proces projektowania poprzedziła analiza i warsztaty z użytkownikami.</p>

                        <p>Wykonaliśmy prototyp oraz dokumentację szczegółowo opisującą jego działanie.
                            Poszczególne części dokumentu mogły stanowić zlecenia dla programistów i grafików.</p>

                    </div>

                    <div class="carousel-slide-bullets">
                        <p>Etapy realizacji:</p>
                        <ul>
                            <li>analiza merytoryczna</li>
                            <li>warsztaty z klientem</li>
                            <li>projektowanie</li>
                            <li>stworzenie prototypu</li>
                            <li>wykonanie dokumentacji projektowej</li>
                        </ul>
                    </div>




                </div>
                <div class="carousel-slide infotower">
                    <div class="carousel-slide-logo">
                        <img src="images/projects/infotower.jpg">
                    </div>
                    <div class="carousel-desc">
                        <p><strong> Zaprojektowanie aplikacji mobilnej dla apteczek szpitalnych</strong>
                        </p>
                        <p>Dla firmy Infotower zaprojektowaliśmy aplikację na tablety, wspierającą pracowników szpitala
                            podczas wykonywania remanentu apteczek oddziałowych i szpitalnych.
                        <p>Przygotowaliśmy makiety przedstawiające wygląd poszczególnych ekranów aplikacji.</p>
                        <p> Opracowaliśmy ścieżki, które użytkownik przechodzi aby zrealizować swoje zadania.</p>
                    </div>

                    <div class="carousel-slide-bullets">
                        <p>Etapy realizacji:</p>
                        <ul>
                            <li>analiza merytoryczna</li>
                            <li>projektowanie</li>
                            <li>stworzenie makiet</li>

                        </ul>
                    </div>



                </div>
            </div>
        </div>
    </div>

</div>