
<div class="page-content what">
    <div class="section-container">
        <div class="section-text">

                <h1>nasza oferta</h1>

            <p>  Każdy projekt to  inne potrzeby, możliwości i cele. Dlatego zawsze indywidualnie dopasowujemy ofertę do klienta
                i projektu. Najważniejszym obszarem naszych działań jest user experience, ale możemy rozszerzyć nasze prace
                o prace programistyczne, graficzne i marketing.</p>


        </div>
        <div class="section-content ">
        <div class="offer-cell" >
            <div id='uxSquare' class="offer-square" >
                <div class="what-icon " id="uxIconSvg">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="uxIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 294.843 294.843" style="enable-background:new 0 0 294.843 294.843;" xml:space="preserve">
<g>
	<path d="M288.842,0c-3.313,0-6,2.687-6,6v45.992H29.421c-3.313,0-6,2.687-6,6s2.687,6,6,6h253.421v218.851h-66.254V96.421
		c0-3.313-2.687-6-6-6s-6,2.687-6,6v186.421H12V12h239.421c3.313,0,6-2.687,6-6s-2.687-6-6-6H6C2.687,0,0,2.687,0,6v282.843
		c0,3.313,2.687,6,6,6h282.842c3.313,0,6-2.687,6-6V6C294.842,2.687,292.156,0,288.842,0z"/>
	<path d="M227.504,102.957h44c3.313,0,6-2.687,6-6s-2.687-6-6-6h-44c-3.313,0-6,2.687-6,6S224.191,102.957,227.504,102.957z"/>
	<path d="M227.504,163.957h44c3.313,0,6-2.687,6-6s-2.687-6-6-6h-44c-3.313,0-6,2.687-6,6S224.191,163.957,227.504,163.957z"/>
	<path d="M227.504,133.457h44c3.313,0,6-2.687,6-6s-2.687-6-6-6h-44c-3.313,0-6,2.687-6,6S224.191,133.457,227.504,133.457z"/>
	<path d="M227.504,194.457h44c3.313,0,6-2.687,6-6s-2.687-6-6-6h-44c-3.313,0-6,2.687-6,6S224.191,194.457,227.504,194.457z"/>
	<path d="M227.504,255.457h44c3.313,0,6-2.687,6-6s-2.687-6-6-6h-44c-3.313,0-6,2.687-6,6S224.191,255.457,227.504,255.457z"/>
	<path d="M227.504,224.957h44c3.313,0,6-2.687,6-6s-2.687-6-6-6h-44c-3.313,0-6,2.687-6,6S224.191,224.957,227.504,224.957z"/>
	<path d="M27.681,27.751c-1.11,1.12-1.75,2.66-1.75,4.25c0,1.58,0.64,3.12,1.75,4.24c1.12,1.11,2.66,1.76,4.25,1.76
		c1.57,0,3.12-0.65,4.24-1.76c1.109-1.12,1.76-2.66,1.76-4.24c0-1.59-0.65-3.13-1.76-4.25c-1.12-1.11-2.66-1.75-4.24-1.75
		C30.341,26.001,28.801,26.641,27.681,27.751z"/>
	<path d="M47.681,27.751c-1.12,1.12-1.76,2.67-1.76,4.24c0,1.58,0.64,3.13,1.76,4.25c1.11,1.11,2.66,1.75,4.24,1.75
		s3.13-0.64,4.24-1.75c1.119-1.12,1.76-2.67,1.76-4.25c0-1.57-0.641-3.12-1.76-4.24c-1.12-1.12-2.66-1.76-4.24-1.76
		S48.801,26.631,47.681,27.751z"/>
	<path d="M67.671,27.751c-1.11,1.12-1.76,2.67-1.76,4.25c0,1.58,0.649,3.12,1.76,4.24c1.12,1.12,2.67,1.76,4.25,1.76
		c1.569,0,3.12-0.64,4.24-1.76c1.119-1.12,1.76-2.67,1.76-4.24c0-1.58-0.641-3.13-1.76-4.25c-1.12-1.11-2.671-1.76-4.24-1.76
		C70.341,25.991,68.792,26.641,67.671,27.751z"/>
</g><g>
</g><g>
</g><g>
</g><g>
</g><g>
</g><g>
</g><g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                </div>
                <a class="offer-square-text ">projektowanie UX</a>
            </div>
        </div>
        <div class="offer-cell" >
            <div id='offerSquare' class="offer-square">
                <div class="what-icon" id="consultingIconSvg">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="consultingIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 294.812 294.812" style="enable-background:new 0 0 294.812 294.812;" xml:space="preserve">
<path d="M251.654,43.164c-57.479-57.48-151.006-57.48-208.485,0C23.002,63.331,9.207,88.667,3.274,116.434
	c-5.776,27.037-3.884,55.049,5.471,81.006c1.124,3.117,4.563,4.733,7.679,3.61c3.118-1.124,4.734-4.562,3.61-7.679
	c-8.595-23.849-10.333-49.586-5.025-74.431c5.447-25.496,18.119-48.766,36.645-67.292c52.801-52.801,138.714-52.801,191.515,0
	c25.145,25.146,39.221,58.571,39.634,94.12c0.413,35.484-12.811,69.176-37.234,94.868c-0.289,0.304-0.575,0.61-0.861,0.916
	c-0.506,0.541-1.011,1.083-1.539,1.611c-52.801,52.801-138.714,52.801-191.515,0c-0.281-0.281-0.555-0.567-0.826-0.853
	c-0.014-0.554-0.026-1.1-0.026-1.638c0-1.208,0.023-2.411,0.067-3.61c0.015-0.401,0.045-0.798,0.065-1.198
	c0.039-0.797,0.076-1.594,0.134-2.387c0.035-0.473,0.086-0.941,0.128-1.412c0.063-0.715,0.122-1.43,0.2-2.141
	c0.055-0.502,0.127-1,0.19-1.5c0.085-0.675,0.166-1.352,0.266-2.024c0.076-0.512,0.166-1.019,0.25-1.528
	c0.107-0.655,0.211-1.31,0.332-1.961c0.095-0.515,0.204-1.025,0.308-1.537c0.129-0.639,0.256-1.279,0.398-1.914
	c0.115-0.515,0.243-1.027,0.366-1.539c0.15-0.625,0.299-1.25,0.461-1.87c0.135-0.514,0.281-1.024,0.423-1.535
	c0.171-0.612,0.341-1.225,0.524-1.833c0.153-0.51,0.317-1.016,0.479-1.522c0.192-0.601,0.384-1.203,0.587-1.799
	c0.172-0.503,0.352-1.003,0.532-1.503c0.213-0.592,0.427-1.184,0.651-1.772c0.19-0.497,0.387-0.989,0.585-1.482
	c0.233-0.581,0.468-1.162,0.712-1.738c0.208-0.49,0.422-0.976,0.638-1.462c0.253-0.571,0.509-1.14,0.773-1.705
	c0.225-0.481,0.455-0.959,0.688-1.436c0.274-0.561,0.551-1.121,0.835-1.676c0.241-0.47,0.486-0.938,0.735-1.404
	c0.294-0.552,0.593-1.102,0.898-1.649c0.257-0.46,0.517-0.918,0.781-1.373c0.314-0.541,0.633-1.079,0.958-1.615
	c0.273-0.45,0.549-0.898,0.829-1.344c0.334-0.53,0.673-1.057,1.017-1.58c0.288-0.439,0.578-0.876,0.873-1.31
	c0.353-0.52,0.714-1.034,1.078-1.547c0.303-0.427,0.606-0.853,0.916-1.274c0.373-0.508,0.754-1.011,1.137-1.511
	c0.317-0.414,0.633-0.828,0.957-1.237c0.393-0.497,0.795-0.988,1.198-1.477c0.329-0.4,0.658-0.8,0.994-1.195
	c0.414-0.486,0.837-0.965,1.261-1.443c0.342-0.386,0.682-0.773,1.03-1.153c0.434-0.474,0.877-0.939,1.321-1.404
	c0.354-0.372,0.706-0.745,1.066-1.112c0.455-0.462,0.92-0.914,1.384-1.368c0.364-0.355,0.725-0.714,1.095-1.064
	c0.478-0.452,0.967-0.893,1.454-1.335c0.372-0.337,0.739-0.678,1.116-1.01c0.503-0.443,1.019-0.873,1.532-1.306
	c0.376-0.317,0.748-0.639,1.129-0.951c0.531-0.434,1.075-0.855,1.617-1.279c0.378-0.295,0.75-0.597,1.132-0.887
	c0.571-0.433,1.154-0.851,1.736-1.271c0.367-0.266,0.727-0.538,1.099-0.799c0.642-0.451,1.299-0.886,1.954-1.323
	c0.323-0.215,0.639-0.438,0.964-0.65c0.854-0.555,1.723-1.092,2.598-1.622c0.136-0.082,0.268-0.17,0.405-0.252
	c1.012-0.606,2.038-1.194,3.076-1.766c0.355-0.195,0.72-0.378,1.079-0.569c0.689-0.368,1.376-0.739,2.077-1.091
	c0.449-0.226,0.909-0.438,1.362-0.657c0.572-0.277,1.142-0.557,1.721-0.824c10.875,10.388,25.382,16.269,40.44,16.269
	c15.058,0,29.566-5.882,40.441-16.271c21.229,9.825,38.604,27.454,48.037,48.892c1.334,3.032,4.873,4.411,7.908,3.076
	c3.033-1.335,4.41-4.876,3.075-7.908c-10.318-23.45-28.281-42.189-51.018-53.501c6.597-9.677,10.166-21.104,10.166-32.896
	c0-32.317-26.292-58.609-58.609-58.609c-3.313,0-6,2.687-6,6s2.687,6,6,6c25.701,0,46.609,20.909,46.609,46.609
	c0,11.492-4.271,22.558-12.025,31.157c-0.001,0.001-0.002,0.002-0.003,0.003c-8.854,9.818-21.458,15.449-34.582,15.449
	s-25.729-5.631-34.582-15.449c-0.001-0.002-0.003-0.003-0.005-0.004c-7.753-8.602-12.023-19.665-12.023-31.155
	c0-12.544,4.911-24.312,13.829-33.134c2.356-2.331,2.376-6.13,0.045-8.485c-2.33-2.357-6.129-2.375-8.485-0.046
	C94.978,80.023,88.802,94.82,88.802,110.594c0,11.78,3.56,23.199,10.146,32.871c-0.059,0.029-0.116,0.061-0.174,0.091
	c-0.468,0.234-0.925,0.482-1.389,0.721c-0.711,0.368-1.424,0.734-2.125,1.117c-0.496,0.27-0.981,0.554-1.472,0.831
	c-0.655,0.371-1.311,0.74-1.957,1.123c-0.501,0.298-0.994,0.606-1.49,0.911c-0.62,0.382-1.24,0.763-1.851,1.156
	c-0.499,0.321-0.989,0.651-1.482,0.979c-0.593,0.395-1.185,0.792-1.769,1.198c-0.491,0.342-0.976,0.691-1.461,1.04
	c-0.57,0.411-1.138,0.824-1.699,1.245c-0.481,0.361-0.956,0.727-1.43,1.095c-0.55,0.427-1.096,0.857-1.636,1.294
	c-0.468,0.378-0.932,0.761-1.394,1.146c-0.531,0.444-1.058,0.893-1.58,1.347c-0.453,0.393-0.903,0.789-1.349,1.19
	c-0.515,0.463-1.023,0.931-1.528,1.403c-0.436,0.407-0.871,0.815-1.301,1.23c-0.499,0.482-0.99,0.971-1.48,1.462
	c-0.418,0.419-0.836,0.837-1.246,1.262c-0.485,0.503-0.961,1.015-1.436,1.527c-0.397,0.428-0.797,0.854-1.187,1.289
	c-0.475,0.528-0.937,1.067-1.401,1.604c-0.373,0.432-0.749,0.86-1.115,1.297c-0.471,0.563-0.927,1.137-1.386,1.709
	c-0.341,0.426-0.689,0.846-1.024,1.277c-0.482,0.62-0.948,1.252-1.416,1.882c-0.294,0.396-0.596,0.785-0.884,1.185
	c-0.592,0.82-1.165,1.652-1.733,2.488c-0.149,0.22-0.307,0.434-0.455,0.655c-0.707,1.056-1.394,2.124-2.063,3.204
	c-0.231,0.373-0.448,0.754-0.674,1.129c-0.433,0.719-0.868,1.437-1.285,2.166c-0.26,0.455-0.506,0.918-0.759,1.377
	c-0.365,0.66-0.732,1.318-1.082,1.986c-0.26,0.495-0.506,0.996-0.759,1.495c-0.326,0.644-0.653,1.287-0.966,1.938
	c-0.249,0.518-0.486,1.042-0.727,1.563c-0.296,0.643-0.593,1.285-0.877,1.934c-0.234,0.535-0.458,1.075-0.683,1.614
	c-0.271,0.647-0.54,1.294-0.798,1.946c-0.217,0.548-0.425,1.099-0.633,1.65c-0.246,0.654-0.489,1.309-0.723,1.968
	c-0.198,0.559-0.39,1.121-0.58,1.684c-0.223,0.661-0.44,1.324-0.65,1.991c-0.179,0.567-0.352,1.136-0.522,1.706
	c-0.2,0.673-0.393,1.348-0.58,2.026c-0.158,0.572-0.313,1.145-0.462,1.721c-0.177,0.685-0.345,1.373-0.509,2.063
	c-0.137,0.576-0.273,1.151-0.4,1.729c-0.154,0.699-0.297,1.402-0.437,2.106c-0.115,0.576-0.232,1.152-0.338,1.731
	c-0.131,0.718-0.249,1.44-0.366,2.163c-0.092,0.57-0.189,1.139-0.272,1.711c-0.109,0.746-0.201,1.496-0.295,2.246
	c-0.069,0.556-0.145,1.111-0.206,1.669c-0.086,0.786-0.152,1.577-0.221,2.368c-0.046,0.527-0.101,1.052-0.139,1.582
	c-0.064,0.883-0.106,1.77-0.149,2.658c-0.021,0.441-0.054,0.879-0.07,1.321c-0.048,1.332-0.075,2.669-0.075,4.011
	c0,1.449,0.049,2.819,0.108,4.332c0.014,0.35,0.063,0.69,0.133,1.022c0.006,0.026,0.009,0.052,0.015,0.078
	c0.074,0.327,0.178,0.641,0.303,0.945c0.012,0.03,0.023,0.06,0.036,0.09c0.129,0.3,0.283,0.586,0.457,0.858
	c0.022,0.034,0.043,0.068,0.065,0.101c0.179,0.267,0.378,0.518,0.595,0.752c0.016,0.017,0.027,0.038,0.043,0.055l0.792,0.843
	c0.598,0.64,1.196,1.278,1.82,1.901c28.74,28.74,66.491,43.11,104.243,43.11s75.503-14.37,104.243-43.11
	c0.624-0.623,1.222-1.262,1.82-1.901l0.792-0.843c26.589-27.971,40.985-64.647,40.536-103.275
	C294.352,106.928,279.028,70.538,251.654,43.164z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                </div>
                <a class="offer-square-text">konsultacje</a>
            </div>
        </div>
        <div class="offer-cell" >
            <div id='researchSquare' class="offer-square">
                <div class="what-icon " id="researchIconSvg">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="researchIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 294.843 294.843" style="enable-background:new 0 0 294.843 294.843;" xml:space="preserve">
<g>
	<path d="M288.842,0H6C2.687,0,0,2.687,0,6v282.843c0,3.313,2.687,6,6,6h282.842c3.313,0,6-2.687,6-6V6
		C294.842,2.687,292.156,0,288.842,0z M12,282.843V12h270.842v39.992H32.421c-3.313,0-6,2.686-6,6s2.687,6,6,6h250.421v218.851H12z"
		/>
	<path d="M31.921,37.991c1.58,0,3.13-0.64,4.25-1.75c1.109-1.12,1.75-2.66,1.75-4.24c0-1.58-0.641-3.13-1.75-4.25
		c-1.12-1.11-2.67-1.75-4.25-1.75c-1.57,0-3.12,0.64-4.24,1.75c-1.11,1.12-1.75,2.67-1.75,4.25c0,1.58,0.64,3.12,1.75,4.24
		C28.801,37.351,30.341,37.991,31.921,37.991z"/>
	<path d="M51.921,38.001c1.58,0,3.13-0.64,4.24-1.76c1.119-1.12,1.76-2.67,1.76-4.25c0-1.57-0.641-3.12-1.76-4.24
		c-1.11-1.12-2.66-1.76-4.24-1.76s-3.13,0.64-4.24,1.76c-1.12,1.12-1.76,2.67-1.76,4.24c0,1.58,0.64,3.13,1.76,4.25
		C48.792,37.361,50.341,38.001,51.921,38.001z"/>
	<path d="M71.912,37.991c1.579,0,3.13-0.64,4.25-1.75c1.119-1.12,1.76-2.67,1.76-4.25c0-1.57-0.641-3.12-1.76-4.24
		c-1.12-1.11-2.671-1.75-4.25-1.75c-1.58,0-3.12,0.64-4.24,1.75c-1.11,1.12-1.75,2.67-1.75,4.24c0,1.58,0.64,3.13,1.75,4.25
		C68.792,37.351,70.332,37.991,71.912,37.991z"/>
	<path d="M246.488,163.478c-3.029-1.337-6.573,0.035-7.912,3.066c-15.95,36.137-51.73,59.486-91.154,59.486
		c-38.536,0-73.591-22.309-90.047-57.063c16.456-34.755,51.511-57.064,90.047-57.064c27.941,0,54.772,11.868,73.612,32.56
		c2.229,2.449,6.025,2.628,8.476,0.397s2.628-6.026,0.397-8.476c-21.108-23.184-51.174-36.48-82.485-36.48
		c-44.175,0-84.265,26.158-102.133,66.641c-0.681,1.543-0.681,3.302,0,4.846c17.868,40.482,57.958,66.641,102.133,66.641
		s84.265-26.158,102.133-66.641C250.892,168.358,249.519,164.816,246.488,163.478z"/>
	<path d="M105.553,168.967c0,23.086,18.782,41.868,41.868,41.868s41.868-18.782,41.868-41.868c0-23.086-18.782-41.869-41.868-41.869
		S105.553,145.88,105.553,168.967z M177.29,168.967c0,16.469-13.398,29.868-29.868,29.868s-29.868-13.399-29.868-29.868
		c0-16.47,13.398-29.869,29.868-29.869S177.29,152.497,177.29,168.967z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                </div>
                <a class="offer-square-text ">badania z użytkownikami</a>
            </div>
        </div>
        <!--<div class="offer-cell" >-->
            <!--<div id='marketingSquare' class="offer-square">-->
                <!--<div class="what-icon " id="marketingIconSvg">-->
                    <!--<?xml version="1.0" encoding="iso-8859-1"?>-->
                    <!--&lt;!&ndash; Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
                    <!--<svg version="1.1" id="marketingIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
	 <!--viewBox="0 0 294.843 294.843" style="enable-background:new 0 0 294.843 294.843;" xml:space="preserve">-->
<!--<g>-->
	<!--<path d="M199.628,175.487c-0.632-1.977,0.067-4.131,1.741-5.358l37.422-27.455c5.958-4.371,8.333-11.736,6.049-18.763-->
		<!--c-2.283-7.028-8.533-11.591-15.922-11.625l-46.413-0.215c-2.076-0.01-3.908-1.34-4.558-3.311l-14.547-44.076-->
		<!--c-2.316-7.017-8.586-11.55-15.975-11.551h0c-7.389,0-13.66,4.534-15.976,11.55l-6.557,19.859c-1.039,3.146,0.669,6.54,3.816,7.578-->
		<!--c3.147,1.041,6.539-0.669,7.579-3.816l6.557-19.859c1.014-3.073,3.762-3.312,4.581-3.312c0.818,0,3.566,0.239,4.58,3.312-->
		<!--l14.547,44.077c2.27,6.875,8.658,11.516,15.897,11.55l46.413,0.215c3.236,0.015,4.313,2.555,4.565,3.333-->
		<!--c0.253,0.778,0.875,3.465-1.734,5.379l-37.423,27.455c-5.837,4.283-8.277,11.793-6.072,18.689l14.143,44.222-->
		<!--c0.986,3.083-1.097,4.892-1.759,5.372c-0.662,0.481-3.025,1.904-5.652,0.013l-37.677-27.114c-5.878-4.229-13.776-4.229-19.654,0-->
		<!--l-37.684,27.119c-2.627,1.89-4.991,0.468-5.652-0.012c-0.662-0.481-2.745-2.289-1.76-5.371l14.139-44.229-->
		<!--c2.205-6.895-0.236-14.405-6.072-18.688l-37.421-27.455c-2.609-1.914-1.987-4.602-1.734-5.379c0.253-0.778,1.33-3.318,4.565-3.333-->
		<!--l46.416-0.215c3.313-0.016,5.987-2.714,5.972-6.028c-0.016-3.304-2.699-5.972-6-5.972c-0.009,0-0.019,0-0.028,0l-46.416,0.215-->
		<!--c-7.389,0.034-13.639,4.597-15.922,11.625c-2.283,7.028,0.091,14.393,6.048,18.764l37.421,27.455-->
		<!--c1.673,1.228,2.373,3.381,1.741,5.358l-14.138,44.229c-2.25,7.038,0.159,14.392,6.137,18.734c3,2.179,6.442,3.269,9.886,3.269-->
		<!--c3.419,0,6.84-1.075,9.829-3.225l37.683-27.119c1.685-1.213,3.95-1.213,5.635,0l37.677,27.114c5.998,4.316,13.736,4.3,19.715-0.044-->
		<!--c5.979-4.343,8.387-11.697,6.136-18.736L199.628,175.487z"/>-->
	<!--<path d="M147.421,0C66.133,0,0,66.133,0,147.421s66.133,147.421,147.421,147.421c3.313,0,6-2.687,6-6s-2.687-6-6-6-->
		<!--C72.75,282.843,12,222.093,12,147.421S72.75,12,147.421,12s135.421,60.75,135.421,135.421c0,46.48-23.42,89.182-62.65,114.228-->
		<!--c-2.793,1.783-3.612,5.493-1.829,8.286c1.783,2.793,5.492,3.612,8.286,1.829c42.7-27.262,68.193-73.745,68.193-124.342-->
		<!--C294.843,66.133,228.71,0,147.421,0z"/>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--</svg>-->
                <!--</div>-->
                <!--<a class="offer-square-text ">czarna magia</a>-->
            <!--</div>-->
        <!--</div>-->
        <div class="offer-cell" >
            <div id='webdevSquare' class="offer-square">
                <div class="what-icon " id="webdevIconSvg">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="webdevIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 294.843 294.843" style="enable-background:new 0 0 294.843 294.843;" xml:space="preserve">
<g>
	<path d="M288.842,0H6C2.687,0,0,2.687,0,6v282.843c0,3.313,2.687,6,6,6s6-2.687,6-6V63.992h241.421c3.313,0,6-2.686,6-6
		s-2.687-6-6-6H12V12h270.842v270.843H66.421c-3.313,0-6,2.687-6,6s2.687,6,6,6h222.421c3.313,0,6-2.687,6-6V6
		C294.842,2.687,292.156,0,288.842,0z"/>
	<path d="M27.681,27.751c-1.11,1.12-1.75,2.67-1.75,4.25c0,1.58,0.64,3.12,1.75,4.24c1.12,1.11,2.66,1.75,4.24,1.75
		s3.13-0.64,4.25-1.75c1.109-1.12,1.75-2.66,1.75-4.24c0-1.58-0.641-3.13-1.75-4.25c-1.12-1.11-2.67-1.75-4.25-1.75
		C30.351,26.001,28.801,26.641,27.681,27.751z"/>
	<path d="M47.681,27.751c-1.12,1.12-1.76,2.67-1.76,4.25c0,1.57,0.64,3.12,1.76,4.24c1.11,1.11,2.66,1.75,4.24,1.75
		s3.13-0.64,4.24-1.75c1.119-1.12,1.76-2.66,1.76-4.24c0-1.58-0.641-3.13-1.76-4.25c-1.11-1.11-2.66-1.75-4.24-1.75
		S48.792,26.641,47.681,27.751z"/>
	<path d="M67.671,27.751c-1.11,1.12-1.75,2.67-1.75,4.25c0,1.57,0.64,3.12,1.75,4.24c1.12,1.11,2.66,1.76,4.24,1.76
		c1.579,0,3.13-0.65,4.25-1.76c1.119-1.12,1.76-2.67,1.76-4.24c0-1.58-0.641-3.13-1.76-4.25c-1.12-1.11-2.671-1.76-4.25-1.76
		C70.332,25.991,68.792,26.641,67.671,27.751z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                </div>
                <a class="offer-square-text ">web development</a>
            </div>
        </div>
        </div>
        <!--<div style="align-self: center; padding-top:30vh;" class="whatBounce bounce"></div>-->
    </div>

</div>